In [1]:
cd ../final_data

/Users/gimdong-eun/Library/CloudStorage/OneDrive-UOS/대학관련 폴더/통계 대회/uos-statistics-data-analysis-competition/final_data

In [147]:
import pandas as pd
import numpy as np

In [72]:
ls

10.27_edit_rain.csv                   test_data.csv
10.27_pop.csv                         train_data.csv
aux_data_DailyPopulation.csv          updated_aux_data_MonthlyCar.csv
aux_data_StationLocation_editver.csv

In [93]:
train = pd.read_csv('train_data.csv')
test = pd.read_csv('test_data.csv')
rain = pd.read_csv('10.27_edit_rain.csv')#,encoding = 'cp949')
pop = pd.read_csv('aux_data_DailyPopulation.csv', encoding = 'cp949')
loc = pd.read_csv('aux_data_StationLocation_editver.csv', encoding = 'cp949')
car = pd.read_csv('updated_aux_data_MonthlyCar.csv')

In [94]:
train = train.replace({'서울 서대문구 세검정로4길 32 (홍제3동 주민센터) ' : '서울 서대문구 세검정로4길 32 (홍제3동 주민센터)', 
                       '서울 성북구 돈암동 8-164번지 ' : '서울 성북구 돈암동 8-164번지'})
test = test.replace({'서울 서대문구 세검정로4길 32 (홍제3동 주민센터) ' : '서울 서대문구 세검정로4길 32 (홍제3동 주민센터)', 
                     '서울 성북구 돈암동 8-164번지 ' : '서울 성북구 돈암동 8-164번지'})

In [95]:
train

,ID,year,month,location,no2,o3,co,so2,pm10,pm2.5,address,Y
0,1,2019,1,강남구,0.037032,0.009387,0.712903,0.006323,61.774194,44.161290,서울 강남구 학동로 426 강남구청 별관 1동,3
1,2,2019,1,강남대로,0.054645,0.007677,0.980645,0.005484,71.677419,40.322581,서울 서초구 강남대로 201 서초구민회관 앞 중앙차로 (양재동),3
2,3,2019,1,강동구,0.044645,0.009516,0.709677,0.005065,65.161290,41.612903,서울 강동구 구천면로 42길 59 천호1동 주민센터,3
3,4,2019,1,강변북로,0.055290,0.007548,0.638710,0.004677,71.290323,40.483871,서울 성동구 강변북로 257 한강사업본부 옆,3
4,5,2019,1,강북구,0.030645,0.017452,0.700000,0.004000,71.387097,39.387097,서울 강북구 삼양로 139길 49 우이동 주민센터,3
...,...,...,...,...,...,...,...,...,...,...,...,...
2167,2168,2022,12,한강대로,0.031645,0.014355,0.596774,0.003645,42.741935,16.677419,서울 용산구 한강대로 405 (서울역 앞),2
2168,2169,2022,12,항동,0.015645,0.017355,0.525806,0.003742,31.225806,12.935484,서울 구로구 연동로 240 (푸른수목원 내),2
2169,2170,2022,12,행주,0.021968,0.016548,0.429032,0.003774,37.709677,17.322581,김포시 고촌읍 은행영사정로 197 (신곡수중보 관리사무소),2
2170,2171,2022,12,홍릉로,0.030806,0.011226,0.529032,0.003355,38.096774,21.548387,서울 동대문구 홍릉로 1 (청량리전철역 사거리 SC제일은행 앞),2
2171,2172,2022,12,화랑로,0.037258,0.010968,0.564516,0.002710,38.774194,18.161290,서울 노원구 화랑로 429 태능입구역 8번 출구,2

In [96]:
test

,ID,year,month,location,no2,o3,co,so2,pm10,pm2.5,address
0,1,2023,1,강남구,0.030742,0.016665,0.538387,0.003255,46.548387,25.032258,서울 강남구 학동로 426 강남구청 별관 1동
1,2,2023,1,강남대로,0.034516,0.012352,0.748387,0.003581,50.548387,28.000000,서울 서초구 강남대로 201 서초구민회관 앞 중앙차로 (양재동)
2,3,2023,1,강동구,0.024948,0.013658,0.502903,0.002639,49.483871,28.161290,서울 강동구 구천면로 42길 59 천호1동 주민센터
3,4,2023,1,강변북로,0.036358,0.012339,0.710000,0.002719,48.483871,28.806452,서울 성동구 강변북로 257 한강사업본부 옆
4,5,2023,1,강북구,0.023607,0.019165,0.613226,0.002629,48.935484,24.580645,서울 강북구 삼양로 139길 49 우이동 주민센터
...,...,...,...,...,...,...,...,...,...,...,...
530,531,2023,12,한강대로,0.033323,0.016275,0.661935,0.003065,41.838710,23.806452,서울 용산구 한강대로 405 (서울역 앞)
531,532,2023,12,항동,0.026090,0.020835,0.618387,0.002713,32.225806,19.774194,서울 구로구 연동로 240 (푸른수목원 내)
532,533,2023,12,행주,0.025223,0.019752,0.631905,0.002694,34.967742,17.903226,김포시 고촌읍 은행영사정로 197 (신곡수중보 관리사무소)
533,534,2023,12,홍릉로,0.034510,0.014148,0.651935,0.003077,36.064516,19.032258,서울 동대문구 홍릉로 1 (청량리전철역 사거리 SC제일은행 앞)
534,535,2023,12,화랑로,0.032690,0.012058,0.581935,0.002632,36.935484,20.354839,서울 노원구 화랑로 429 태능입구역 8번 출구

In [97]:
rain['date'] = pd.to_datetime(rain['date'])
rain['year'] = rain['date'].dt.year
rain['month'] = rain['date'].dt.month
rain

      Unnamed: 0       date    gu  rain_count  total_rain  year  month
0              0 2019-01-01   관악구           0         0.0  2019      1
1              1 2019-01-01   노원구           0         0.0  2019      1
2              2 2019-01-01  영등포구           0         0.0  2019      1
3              3 2019-01-01   은평구           0         0.0  2019      1
4              4 2019-02-01   강남구           9        89.0  2019      2
...          ...        ...   ...         ...         ...   ...    ...
1463        1463 2023-12-01   용산구          20       158.5  2023     12
1464        1464 2023-12-01   은평구          29       211.0  2023     12
1465        1465 2023-12-01   종로구          20       166.0  2023     12
1466        1466 2023-12-01    중구          20       156.5  2023     12
1467        1467 2023-12-01   중랑구          20       155.5  2023     12

[1468 rows x 7 columns]

In [98]:
rain.rename(columns = {'gu':'location'}, inplace = True)
rain

      Unnamed: 0       date location  rain_count  total_rain  year  month
0              0 2019-01-01      관악구           0         0.0  2019      1
1              1 2019-01-01      노원구           0         0.0  2019      1
2              2 2019-01-01     영등포구           0         0.0  2019      1
3              3 2019-01-01      은평구           0         0.0  2019      1
4              4 2019-02-01      강남구           9        89.0  2019      2
...          ...        ...      ...         ...         ...   ...    ...
1463        1463 2023-12-01      용산구          20       158.5  2023     12
1464        1464 2023-12-01      은평구          29       211.0  2023     12
1465        1465 2023-12-01      종로구          20       166.0  2023     12
1466        1466 2023-12-01       중구          20       156.5  2023     12
1467        1467 2023-12-01      중랑구          20       155.5  2023     12

[1468 rows x 7 columns]

In [172]:
rain_var = ['rain_count','total_rain','gu','year','month']

In [171]:
rain.rename(columns = {'location':'gu'}, inplace = True)

In [100]:
rain

      Unnamed: 0       date location  rain_count  total_rain  year  month
0              0 2019-01-01      관악구           0         0.0  2019      1
1              1 2019-01-01      노원구           0         0.0  2019      1
2              2 2019-01-01     영등포구           0         0.0  2019      1
3              3 2019-01-01      은평구           0         0.0  2019      1
4              4 2019-02-01      강남구           9        89.0  2019      2
...          ...        ...      ...         ...         ...   ...    ...
1463        1463 2023-12-01      용산구          20       158.5  2023     12
1464        1464 2023-12-01      은평구          29       211.0  2023     12
1465        1465 2023-12-01      종로구          20       166.0  2023     12
1466        1466 2023-12-01       중구          20       156.5  2023     12
1467        1467 2023-12-01      중랑구          20       155.5  2023     12

[1468 rows x 7 columns]

In [101]:
pop

,year,month,location,address,pop_men<10s,pop_men10s,pop_men20s,pop_men30s,pop_men40s,pop_men50s,pop_men60s,pop_men>70s,pop_women<10s,pop_women10s,pop_women20s,pop_women30s,pop_women40s,pop_women50s,pop_women60s,pop_women>70s
0,2019,1,강남구,서울 강남구 학동로 426 강남구청 별관 1동,927.0479743,602.9446955,921.7552315,1214.62868,1347.416389,1085.880496,798.8535318,1243.606349,904.5281289,570.9527232,1067.528055,1294.366411,1278.060354,993.7924985,998.258234,1822.240094
1,2019,1,강남대로,서울 서초구 강남대로 201 서초구민회관 앞 중앙차로 (양재동),926.6161369,527.5332651,856.4043586,1037.302014,1205.927117,988.9334616,776.5741118,1258.342268,1009.660905,576.0992014,913.6587256,1123.368663,1192.077696,943.8392927,957.0848002,1899.119346
2,2019,1,강동구,서울 강동구 구천면로 42길 59 천호1동 주민센터,1050.551945,554.8330654,786.8976828,913.8714434,1016.953391,959.3809686,918.1938115,1278.124821,952.0670339,492.7388187,820.0414968,974.8712129,1050.131853,1076.579775,1167.344251,1906.923218
3,2019,1,강변북로,서울 성동구 강변북로 257 한강사업본부 옆,715.9811681,307.9951886,939.6793285,887.3765636,800.3747157,683.9423731,600.6612696,837.3243954,639.901374,285.1107486,1028.09298,940.7402611,730.5379554,690.3040169,741.7904019,1422.251462
4,2019,1,강북구,서울 강북구 삼양로 139길 49 우이동 주민센터,794.4888583,437.9833558,809.6333801,770.4861037,899.0332385,851.6552734,797.3604509,1481.038718,732.0702926,402.6557012,981.7042315,778.1785288,888.318072,989.7115318,1032.929955,2411.357303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2943,2023,12,한강대로,서울 용산구 한강대로 405 (서울역 앞),477.100031,233.3043335,519.7091073,730.8936927,726.6102722,604.773046,426.9447175,581.5296645,435.2579927,211.7540044,653.9527774,796.0781669,703.683098,596.1837361,487.6923012,973.9618397
2944,2023,12,항동,서울 구로구 연동로 240 (푸른수목원 내),931.0627056,407.2064673,629.5498854,1115.458427,1142.739124,1050.710848,810.5969222,1119.843603,902.1382684,391.6133557,819.8700742,1118.379647,968.926423,943.5965026,906.2948105,1679.389544
2945,2023,12,행주,김포시 고촌읍 은행영사정로 197 (신곡수중보 관리사무소),988,"1,345","1,683","2,158","2,638","2,665","2,593","1,711",906,"1,228","1,381","1,826","2,162","2,212","2,446","2,190"
2946,2023,12,홍릉로,서울 동대문구 홍릉로 1 (청량리전철역 사거리 SC제일은행 앞),742.7875412,370.0619896,1134.768492,774.8923954,886.4288191,837.0146041,661.2881279,1019.204083,722.6292516,361.1675707,1778.706591,837.2229,847.3690571,794.4523468,732.5513472,1631.447384
2947,2023,12,화랑로,서울 노원구 화랑로 429 태능입구역 8번 출구,951.2793154,627.2409818,948.6066316,770.4810063,938.222092,1051.686362,812.5132112,1248.180038,943.6470229,603.3839908,1049.139318,883.0983068,1064.082678,1186.523006,1030.717398,2126.59031

In [105]:
pop.columns
pop_var = ['year', 'month', 'location', 'pop_men<10s', 'pop_men10s',
       'pop_men20s', 'pop_men30s', 'pop_men40s', 'pop_men50s', 'pop_men60s',
       'pop_men>70s', 'pop_women<10s', 'pop_women10s', 'pop_women20s',
       'pop_women30s', 'pop_women40s', 'pop_women50s', 'pop_women60s',
       'pop_women>70s']

In [103]:
print(pop_ad)
print(train_ad)

{'마포아트센터', '양천구', '한강대로', '강서구', '강남대로', '북한산', '세곡', '도봉구', '서초구', '서울숲', '강남구', '마포구', '남산', '신촌로', '성동구', '동작대로', '시흥대로', '올림픽공원', '동작구', '중랑구', '중구', '성북구', '송파구', '강동구', '영등포구', '은평구', '동대문구', '화랑로', '금천구', '관악산', '용산구', '서대문구', '청계천로', '구로구', '영등포로', '강북구', '공항대로', '도산대로', '광진구', '종로구', '항동', '정릉로', '행주', '노원구', '관악구', '홍릉로', '천호대로', '자연사박물관', '강변북로', '종로'}
{'마포아트센터', '양천구', '한강대로', '강서구', '강남대로', '북한산', '세곡', '도봉구', '서초구', '서울숲', '강남구', '마포구', '남산', '신촌로', '성동구', '동작대로', '시흥대로', '올림픽공원', '동작구', '중랑구', '중구', '성북구', '송파구', '강동구', '영등포구', '은평구', '동대문구', '화랑로', '금천구', '관악산', '용산구', '서대문구', '청계천로', '구로구', '영등포로', '강북구', '공항대로', '도산대로', '광진구', '종로구', '항동', '정릉로', '행주', '노원구', '관악구', '홍릉로', '천호대로', '자연사박물관', '강변북로', '종로'}

In [102]:
pop_ad = set(pop['location'].unique())
train_ad = set(pop['location'].unique())
train_ad.difference(pop_ad)

set()

In [84]:
loc

,location,address,admin_region,x,y,height,road,tree,building,river,cluster
0,강남구,서울 강남구 학동로 426 강남구청 별관 1동,삼성2동,37.517968,127.047060,29,1,0,1,0,1
1,강남대로,서울 서초구 강남대로 201 서초구민회관 앞 중앙차로 (양재동),양재1동,37.481828,127.035957,28,1,1,1,0,3
2,강동구,서울 강동구 구천면로 42길 59 천호1동 주민센터,천호1동,37.545004,127.136820,27,0,0,1,0,1
3,강변북로,서울 성동구 강변북로 257 한강사업본부 옆,성수동,37.538962,127.041604,16,1,1,1,1,3
4,강북구,서울 강북구 삼양로 139길 49 우이동 주민센터,수유제1동,37.647934,127.011870,43,0,1,1,0,1
5,강서구,서울 강서구 강서로 45 다길 71 화곡3동 푸른들청소년도서관,화곡제3동,37.544670,126.835179,20,0,0,1,0,1
6,공항대로,서울 강서구 마곡동 727-1091 마곡역 중앙차로정류장 옆,가양제1동,37.559649,126.828791,9,1,0,1,0,3
7,관악구,서울 관악구 신림동길 14 신림동 주민센터,신림동,37.487396,126.927114,20,0,0,1,0,1
8,관악산,과천시 자하동길 64 (관악산 중계소),중앙동,37.441127,126.964447,588,0,1,0,0,0
9,광진구,서울 광진구 광나루로 571 구의 아리수정수센터,구의제2동,37.545947,127.092951,40,0,1,1,0,2
10,구로구,서울 구로구 가마산로 27길 45 구로고등학교,구로제5동,37.498840,126.890309,10,0,0,1,0,1
11,금천구,서울 금천구 금하로21길 20 시흥5동 주민센터,시흥제5동,37.452335,126.908054,25,0,0,1,0,1
12,남산,서울 용산구 남산공원길 103 (서울타워 별관 2층),용산2가동,37.551182,126.987650,260,0,1,0,0,2
13,노원구,서울 노원구 상계로 118 상계2동 주민센터 (23길 17 노원구 원터행복발전소),상계2동,37.657483,127.067864,30,0,0,1,0,1
14,도봉구,서울 도봉구 시루봉로2길 34 쌍문동청소년문화의집,쌍문4동,37.654218,127.029080,67,0,1,0,0,2
15,도산대로,서울 강남구 도산대로 104 신사역2번출구 앞,신사동,37.516077,127.020341,24,1,0,1,0,3
16,동대문구,서울 동대문구 천호대로13길 43 용두초등학교,용신동,37.576405,127.028382,18,1,0,1,0,2
17,동작구,서울 동작구 사당로16아길 6 사당4동 주민센터,사당제4동,37.480976,126.971634,26,0,0,1,0,1
18,동작대로,서울 동작구 사당2동 739 이수역 북단 버스중앙차로,사당제1동,37.489460,126.982474,12,1,0,1,0,3
19,마포구,서울 마포구 포은로 6길 10 망원1동주민센터 옥상,망원1동,37.555588,126.905591,8,0,0,1,0,1
20,북한산,서울 강북구 삼양로 181길 387 (우이령 전경대 위),우이동,37.679014,127.002294,114,0,1,0,0,0
21,서대문구,서울 서대문구 세검정로4길 32 (홍제3동 주민센터),홍제3동,37.593767,126.949691,44,0,0,1,0,2
22,서초구,서울 서초구 신반포로15길 16 반포 2동 주민센터,반포2동,37.504585,126.994472,10,0,0,1,0,1
23,성동구,서울 성동구 뚝섬로3길 18 성수1가1동주민센터,성수1가제1동,37.542032,127.049689,11,0,0,1,0,1
24,성북구,서울 성북구 삼양로2길 70 길음2동 주민센터,길음2동,37.606813,127.027280,34,1,0,1,0,2
25,세곡,서울 강남구 밤고개로 337 (세곡사거리),세곡동,37.464083,127.109084,23,1,0,0,0,2
26,송파구,서울 송파구 백제고분로 236 삼전동 주민센터 (삼전동),삼전동,37.502729,127.092521,14,1,0,1,0,1
27,시흥대로,서울 금천구 독산동 996-9 한양수자인아파트 앞,독산제1동,37.474964,126.898676,26,1,0,1,0,3
28,신촌로,서울 마포구 노고산동 57-62 (신촌역 7번 출구),대흥동,37.555172,126.936142,18,1,0,1,0,3
29,양천구,서울 양천구 중앙로52길 56 신정4동 문화센터,신정4동,37.525975,126.856602,13,0,0,1,0,1
30,영등포구,서울 영등포구 당산로 123 영등포구청 (당산동3가),당산제1동,37.525963,126.896367,8,1,1,1,0,1
31,영등포로,서울 영등포구 영중로 37 (영등포시장사거리),영등포동,37.519480,126.904712,9,1,0,1,0,3
32,용산구,서울 용산구 이태원로 224-19 (한남동) 한남로 복합문화센터,한남동,37.534857,127.000269,49,0,0,1,0,1
33,은평구,서울 은평구 진흥로 215 (한국환경산업기술원 온실동2층 ),불광제1동,37.609872,126.934325,33,1,1,0,0,2
34,정릉로,서울 성북구 돈암동 8-164번지,돈암제1동,37.603522,127.025951,34,1,0,1,0,3
35,종로,서울 종로구 종로 169 (종묘주차장 앞),종로1.2.3.4가동,37.570919,126.996555,21,1,1,1,0,1
36,종로구,"서울 종로구 종로35가길 19 종로5,6가 동 주민센터","종로5,6가동",37.572061,127.005031,20,0,0,1,0,1
37,중구,서울 중구 덕수궁길 15 시청서소문별관 3동,소공동,37.564554,126.975614,31,1,0,1,0,1
38,중랑구,서울 중랑구 용마산로 369 건강가정지원센터,면독3.8동,37.584913,127.094036,37,1,0,1,0,2
39,천호대로,서울 강동구 천호대로 1151 길동사거리 강동성모요양병원 앞),길동,37.534156,127.139336,20,1,0,1,0,3
40,청계천로,서울 중구 청계천로 184 (청계천4가사거리 남강빌딩 앞),을지로동,37.568638,126.998186,19,1,0,1,0,3
41,한강대로,서울 용산구 한강대로 405 (서울역 앞),남영동,37.554838,126.971733,26,1,0,1,0,3
42,행주,김포시 고촌읍 은행영사정로 197 (신곡수중보 관리사무소),신곡리,37.609087,126.786320,19,0,1,0,1,2
43,홍릉로,서울 동대문구 홍릉로 1 (청량리전철역 사거리 SC제일은행 앞),전농제1동,37.580453,127.044368,14,0,0,1,0,3
44,화랑로,서울 노원구 화랑로 429 태능입구역 8번 출구,공릉동,37.617794,127.075159,19,1,0,1,0,1
45,마포아트센터,서울 마포구 대흥로20길 28 (마포아트센터),대흥동,37.549906,126.945534,17,1,0,1,0,2
46,서울숲,서울 성동구 뚝섬로 273 (서울숲 방문자센터 옆),성수1가제1동,37.543070,127.041799,12,0,1,0,0,2
47,올림픽공원,서울 송파구 올림픽로 424 (서울역사편찬원),오륜동,37.520340,127.115518,17,1,0,1,0,2
48,자연사박물관,서울 서대문구 연희로32길 51 (서대문자연사박물관),서대문구,37.576752,126.937858,75,0,0,1,0,2
49,항동,서울 구로구 연동로 240 (푸른수목원 내),구로구,37.481968,126.823669,24,1,1,1,0,0

In [85]:
loc.columns
loc_var = ['location', 'address', 'x', 'y', 'height', 'road','tree', 'building', 'river']

In [86]:
car

,year,month,location,address,a_d_classification,car_sedan,car_van,car_twowheels,car_special,car_truck,year_month
0,2019,1,강남구,서울 강남구 학동로 426 강남구청 별관 1동,11230,211579.0,6337.0,16766.0,402.0,16506.0,2019_1
1,2019,1,강남대로,서울 서초구 강남대로 201 서초구민회관 앞 중앙차로 (양재동),11220,159548.0,5206.0,13006.0,345.0,17140.0,2019_1
2,2019,1,강동구,서울 강동구 구천면로 42길 59 천호1동 주민센터,11250,115009.0,4803.0,16276.0,288.0,15538.0,2019_1
3,2019,1,강변북로,서울 성동구 강변북로 257 한강사업본부 옆,11040,90341.0,4029.0,20522.0,178.0,11194.0,2019_1
4,2019,1,강북구,서울 강북구 삼양로 139길 49 우이동 주민센터,11090,63859.0,4032.0,21754.0,156.0,9371.0,2019_1
...,...,...,...,...,...,...,...,...,...,...,...
2943,2023,12,한강대로,서울 용산구 한강대로 405 (서울역 앞),11030,66446.0,2070.0,17989.0,172.0,6082.0,2023_12
2944,2023,12,항동,서울 구로구 연동로 240 (푸른수목원 내),11170,125670.0,4849.0,14958.0,483.0,16816.0,2023_12
2945,2023,12,행주,김포시 고촌읍 은행영사정로 197 (신곡수중보 관리사무소),31230,0.0,0.0,0.0,0.0,0.0,2023_12
2946,2023,12,홍릉로,서울 동대문구 홍릉로 1 (청량리전철역 사거리 SC제일은행 앞),11060,87240.0,2883.0,24458.0,304.0,12210.0,2023_12
2947,2023,12,화랑로,서울 노원구 화랑로 429 태능입구역 8번 출구,11110,135346.0,4309.0,15120.0,523.0,12332.0,2023_12

In [118]:
car.columns
car_var = ['year', 'month', 'location', 'a_d_classification',
       'car_sedan', 'car_van', 'car_twowheels', 'car_special', 'car_truck']

## 데이터 합치기

In [88]:
# 필요하다면 타입 변환
train['year'] = train['year'].astype(int)
train['month'] = train['month'].astype(int)
test['year'] = test['year'].astype(int)
test['month'] = test['month'].astype(int)
rain['year'] = rain['year'].astype(int)
rain['month'] = rain['month'].astype(int)
pop['year'] = pop['year'].astype(int)
pop['month'] = pop['month'].astype(int)
car['year'] = car['year'].astype(int)
car['month'] = car['month'].astype(int)

In [24]:
train['location'].unique()

array(['강남구', '강남대로', '강동구', '강변북로', '강북구', '강서구', '공항대로', '관악구', '광진구',
       '구로구', '금천구', '남산', '노원구', '도산대로', '동대문구', '동작구', '동작대로', '마포구',
       '북한산', '서대문구', '서초구', '성동구', '성북구', '세곡', '송파구', '시흥대로', '신촌로',
       '양천구', '영등포구', '영등포로', '은평구', '정릉로', '종로', '종로구', '중구', '중랑구',
       '천호대로', '청계천로', '한강대로', '행주', '홍릉로', '도봉구', '화랑로', '용산구', '관악산',
       '마포아트센터', '서울숲', '올림픽공원', '자연사박물관', '항동'], dtype=object)

In [23]:
rain['location'].unique()

array(['관악구', '노원구', '영등포구', '은평구', '강남구', '강북구', '광진구', '구로구', '금천구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '용산구', '종로구', '중구', '중랑구', '강동구', '강서구'], dtype=object)

In [18]:
train = pd.merge(left = train, right = rain[rain_var], on = ['location','year','month'], how = 'left')
test = pd.merge(left = test, right = rain[rain_var], on = ['location','year','month'], how = 'left')

In [19]:
train

,ID,year,month,location,no2,o3,co,so2,pm10,pm2.5,address,Y,rain_count,total_rain
0,1,2019,1,강남구,0.037032,0.009387,0.712903,0.006323,61.774194,44.161290,서울 강남구 학동로 426 강남구청 별관 1동,3,NaN,NaN
1,2,2019,1,강남대로,0.054645,0.007677,0.980645,0.005484,71.677419,40.322581,서울 서초구 강남대로 201 서초구민회관 앞 중앙차로 (양재동),3,NaN,NaN
2,3,2019,1,강동구,0.044645,0.009516,0.709677,0.005065,65.161290,41.612903,서울 강동구 구천면로 42길 59 천호1동 주민센터,3,NaN,NaN
3,4,2019,1,강변북로,0.055290,0.007548,0.638710,0.004677,71.290323,40.483871,서울 성동구 강변북로 257 한강사업본부 옆,3,NaN,NaN
4,5,2019,1,강북구,0.030645,0.017452,0.700000,0.004000,71.387097,39.387097,서울 강북구 삼양로 139길 49 우이동 주민센터,3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2167,2168,2022,12,한강대로,0.031645,0.014355,0.596774,0.003645,42.741935,16.677419,서울 용산구 한강대로 405 (서울역 앞),2,NaN,NaN
2168,2169,2022,12,항동,0.015645,0.017355,0.525806,0.003742,31.225806,12.935484,서울 구로구 연동로 240 (푸른수목원 내),2,NaN,NaN
2169,2170,2022,12,행주,0.021968,0.016548,0.429032,0.003774,37.709677,17.322581,김포시 고촌읍 은행영사정로 197 (신곡수중보 관리사무소),2,NaN,NaN
2170,2171,2022,12,홍릉로,0.030806,0.011226,0.529032,0.003355,38.096774,21.548387,서울 동대문구 홍릉로 1 (청량리전철역 사거리 SC제일은행 앞),2,NaN,NaN
2171,2172,2022,12,화랑로,0.037258,0.010968,0.564516,0.002710,38.774194,18.161290,서울 노원구 화랑로 429 태능입구역 8번 출구,2,NaN,NaN

In [53]:
test

,ID,year,month,location,no2,o3,co,so2,pm10,pm2.5,address,rain_count,total_rain
0,1,2023,1,강남구,0.030742,0.016665,0.538387,0.003255,46.548387,25.032258,서울 강남구 학동로 426 강남구청 별관 1동,18.0,139.0
1,2,2023,1,강남대로,0.034516,0.012352,0.748387,0.003581,50.548387,28.000000,서울 서초구 강남대로 201 서초구민회관 앞 중앙차로 (양재동),NaN,NaN
2,3,2023,1,강동구,0.024948,0.013658,0.502903,0.002639,49.483871,28.161290,서울 강동구 구천면로 42길 59 천호1동 주민센터,12.0,87.5
3,4,2023,1,강변북로,0.036358,0.012339,0.710000,0.002719,48.483871,28.806452,서울 성동구 강변북로 257 한강사업본부 옆,NaN,NaN
4,5,2023,1,강북구,0.023607,0.019165,0.613226,0.002629,48.935484,24.580645,서울 강북구 삼양로 139길 49 우이동 주민센터,5.0,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,531,2023,12,한강대로,0.033323,0.016275,0.661935,0.003065,41.838710,23.806452,서울 용산구 한강대로 405 (서울역 앞),NaN,NaN
531,532,2023,12,항동,0.026090,0.020835,0.618387,0.002713,32.225806,19.774194,서울 구로구 연동로 240 (푸른수목원 내),NaN,NaN
532,533,2023,12,행주,0.025223,0.019752,0.631905,0.002694,34.967742,17.903226,김포시 고촌읍 은행영사정로 197 (신곡수중보 관리사무소),NaN,NaN
533,534,2023,12,홍릉로,0.034510,0.014148,0.651935,0.003077,36.064516,19.032258,서울 동대문구 홍릉로 1 (청량리전철역 사거리 SC제일은행 앞),NaN,NaN
534,535,2023,12,화랑로,0.032690,0.012058,0.581935,0.002632,36.935484,20.354839,서울 노원구 화랑로 429 태능입구역 8번 출구,NaN,NaN

In [106]:
train = pd.merge(left = train, right = pop[pop_var], on = ['location','year','month',], how = 'left')
test = pd.merge(left = test, right = pop[pop_var], on = ['location','year','month',], how = 'left')

In [107]:
train

,ID,year,month,location,no2,o3,co,so2,pm10,pm2.5,...,pop_men60s,pop_men>70s,pop_women<10s,pop_women10s,pop_women20s,pop_women30s,pop_women40s,pop_women50s,pop_women60s,pop_women>70s
0,1,2019,1,강남구,0.037032,0.009387,0.712903,0.006323,61.774194,44.161290,...,798.8535318,1243.606349,904.5281289,570.9527232,1067.528055,1294.366411,1278.060354,993.7924985,998.258234,1822.240094
1,2,2019,1,강남대로,0.054645,0.007677,0.980645,0.005484,71.677419,40.322581,...,776.5741118,1258.342268,1009.660905,576.0992014,913.6587256,1123.368663,1192.077696,943.8392927,957.0848002,1899.119346
2,3,2019,1,강동구,0.044645,0.009516,0.709677,0.005065,65.161290,41.612903,...,918.1938115,1278.124821,952.0670339,492.7388187,820.0414968,974.8712129,1050.131853,1076.579775,1167.344251,1906.923218
3,4,2019,1,강변북로,0.055290,0.007548,0.638710,0.004677,71.290323,40.483871,...,600.6612696,837.3243954,639.901374,285.1107486,1028.09298,940.7402611,730.5379554,690.3040169,741.7904019,1422.251462
4,5,2019,1,강북구,0.030645,0.017452,0.700000,0.004000,71.387097,39.387097,...,797.3604509,1481.038718,732.0702926,402.6557012,981.7042315,778.1785288,888.318072,989.7115318,1032.929955,2411.357303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2167,2168,2022,12,한강대로,0.031645,0.014355,0.596774,0.003645,42.741935,16.677419,...,425.6713817,576.0103698,448.5933879,217.2251145,626.9187581,792.3611984,666.9121107,584.5008984,485.3561825,980.8724948
2168,2169,2022,12,항동,0.015645,0.017355,0.525806,0.003742,31.225806,12.935484,...,806.1739404,1085.313648,896.1723454,387.8578226,835.5596804,1122.762164,964.0985716,936.7865514,918.5441011,1604.722518
2169,2170,2022,12,행주,0.021968,0.016548,0.429032,0.003774,37.709677,17.322581,...,"2,456","1,536","1,002","1,235","1,360","1,782","2,149","2,236","2,287","2,002"
2170,2171,2022,12,홍릉로,0.030806,0.011226,0.529032,0.003355,38.096774,21.548387,...,676.9041334,1052.09922,738.1128995,370.796956,1796.190916,832.4021493,844.573418,796.9662673,762.1080424,1688.384406
2171,2172,2022,12,화랑로,0.037258,0.010968,0.564516,0.002710,38.774194,18.161290,...,805.4839779,1270.762914,969.6411655,623.4342666,1038.359246,892.3621577,1067.42022,1193.318762,1040.684362,2162.259392

In [114]:
train[train.isna().any(axis=1)]

Empty DataFrame
Columns: [ID, year, month, location, no2, o3, co, so2, pm10, pm2.5, address, Y, pop_men<10s, pop_men10s, pop_men20s, pop_men30s, pop_men40s, pop_men50s, pop_men60s, pop_men>70s, pop_women<10s, pop_women10s, pop_women20s, pop_women30s, pop_women40s, pop_women50s, pop_women60s, pop_women>70s, x, y, height, road, tree, building, river]
Index: []

[0 rows x 35 columns]

In [115]:
train.isna().sum()

ID               0
year             0
month            0
location         0
no2              0
o3               0
co               0
so2              0
pm10             0
pm2.5            0
address          0
Y                0
pop_men<10s      0
pop_men10s       0
pop_men20s       0
pop_men30s       0
pop_men40s       0
pop_men50s       0
pop_men60s       0
pop_men>70s      0
pop_women<10s    0
pop_women10s     0
pop_women20s     0
pop_women30s     0
pop_women40s     0
pop_women50s     0
pop_women60s     0
pop_women>70s    0
x                0
y                0
height           0
road             0
tree             0
building         0
river            0
dtype: int64

In [116]:
test.isna().sum()

ID               0
year             0
month            0
location         0
no2              0
o3               0
co               0
so2              0
pm10             0
pm2.5            0
address          0
pop_men<10s      0
pop_men10s       0
pop_men20s       0
pop_men30s       0
pop_men40s       0
pop_men50s       0
pop_men60s       0
pop_men>70s      0
pop_women<10s    0
pop_women10s     0
pop_women20s     0
pop_women30s     0
pop_women40s     0
pop_women50s     0
pop_women60s     0
pop_women>70s    0
x                0
y                0
height           0
road             0
tree             0
building         0
river            0
dtype: int64

In [111]:
train = pd.merge(left = train, right = loc[loc_var], on = ['location','address'], how = 'left')
test = pd.merge(left = test, right = loc[loc_var], on = ['location','address'], how = 'left')

In [112]:
train

,ID,year,month,location,no2,o3,co,so2,pm10,pm2.5,...,pop_women50s,pop_women60s,pop_women>70s,x,y,height,road,tree,building,river
0,1,2019,1,강남구,0.037032,0.009387,0.712903,0.006323,61.774194,44.161290,...,993.7924985,998.258234,1822.240094,37.517968,127.047060,29,1,0,1,0
1,2,2019,1,강남대로,0.054645,0.007677,0.980645,0.005484,71.677419,40.322581,...,943.8392927,957.0848002,1899.119346,37.481828,127.035957,28,1,1,1,0
2,3,2019,1,강동구,0.044645,0.009516,0.709677,0.005065,65.161290,41.612903,...,1076.579775,1167.344251,1906.923218,37.545004,127.136820,27,0,0,1,0
3,4,2019,1,강변북로,0.055290,0.007548,0.638710,0.004677,71.290323,40.483871,...,690.3040169,741.7904019,1422.251462,37.538962,127.041604,16,1,1,1,1
4,5,2019,1,강북구,0.030645,0.017452,0.700000,0.004000,71.387097,39.387097,...,989.7115318,1032.929955,2411.357303,37.647934,127.011870,43,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2167,2168,2022,12,한강대로,0.031645,0.014355,0.596774,0.003645,42.741935,16.677419,...,584.5008984,485.3561825,980.8724948,37.554838,126.971733,26,1,0,1,0
2168,2169,2022,12,항동,0.015645,0.017355,0.525806,0.003742,31.225806,12.935484,...,936.7865514,918.5441011,1604.722518,37.481968,126.823669,24,1,1,1,0
2169,2170,2022,12,행주,0.021968,0.016548,0.429032,0.003774,37.709677,17.322581,...,"2,236","2,287","2,002",37.609087,126.786320,19,0,1,0,1
2170,2171,2022,12,홍릉로,0.030806,0.011226,0.529032,0.003355,38.096774,21.548387,...,796.9662673,762.1080424,1688.384406,37.580453,127.044368,14,0,0,1,0
2171,2172,2022,12,화랑로,0.037258,0.010968,0.564516,0.002710,38.774194,18.161290,...,1193.318762,1040.684362,2162.259392,37.617794,127.075159,19,1,0,1,0

In [113]:
test

,ID,year,month,location,no2,o3,co,so2,pm10,pm2.5,...,pop_women50s,pop_women60s,pop_women>70s,x,y,height,road,tree,building,river
0,1,2023,1,강남구,0.030742,0.016665,0.538387,0.003255,46.548387,25.032258,...,1012.4398,748.7100185,1566.761815,37.517968,127.047060,29,1,0,1,0
1,2,2023,1,강남대로,0.034516,0.012352,0.748387,0.003581,50.548387,28.000000,...,917.2104432,691.6973884,1435.205435,37.481828,127.035957,28,1,1,1,0
2,3,2023,1,강동구,0.024948,0.013658,0.502903,0.002639,49.483871,28.161290,...,1018.358256,1034.353113,1890.546071,37.545004,127.136820,27,0,0,1,0
3,4,2023,1,강변북로,0.036358,0.012339,0.710000,0.002719,48.483871,28.806452,...,677.1420691,600.2846526,1152.124301,37.538962,127.041604,16,1,1,1,1
4,5,2023,1,강북구,0.023607,0.019165,0.613226,0.002629,48.935484,24.580645,...,933.8797253,913.7993,2085.32773,37.647934,127.011870,43,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,531,2023,12,한강대로,0.033323,0.016275,0.661935,0.003065,41.838710,23.806452,...,596.1837361,487.6923012,973.9618397,37.554838,126.971733,26,1,0,1,0
531,532,2023,12,항동,0.026090,0.020835,0.618387,0.002713,32.225806,19.774194,...,943.5965026,906.2948105,1679.389544,37.481968,126.823669,24,1,1,1,0
532,533,2023,12,행주,0.025223,0.019752,0.631905,0.002694,34.967742,17.903226,...,"2,212","2,446","2,190",37.609087,126.786320,19,0,1,0,1
533,534,2023,12,홍릉로,0.034510,0.014148,0.651935,0.003077,36.064516,19.032258,...,794.4523468,732.5513472,1631.447384,37.580453,127.044368,14,0,0,1,0
534,535,2023,12,화랑로,0.032690,0.012058,0.581935,0.002632,36.935484,20.354839,...,1186.523006,1030.717398,2126.59031,37.617794,127.075159,19,1,0,1,0

In [117]:
train.to_csv('10.27_train_pop_loc.csv')
test.to_csv('10.27_test_pop_loc.csv')

In [119]:
train_temp = pd.merge(left = train, right = car[car_var], on = ['location','year','month'], how = 'left')
test_temp = pd.merge(left = test, right = car[car_var], on = ['location','year','month'], how = 'left')

In [120]:
train_temp[train_temp.isna().any(axis=1)]

Empty DataFrame
Columns: [ID, year, month, location, no2, o3, co, so2, pm10, pm2.5, address, Y, pop_men<10s, pop_men10s, pop_men20s, pop_men30s, pop_men40s, pop_men50s, pop_men60s, pop_men>70s, pop_women<10s, pop_women10s, pop_women20s, pop_women30s, pop_women40s, pop_women50s, pop_women60s, pop_women>70s, x, y, height, road, tree, building, river, a_d_classification, car_sedan, car_van, car_twowheels, car_special, car_truck]
Index: []

[0 rows x 41 columns]

In [121]:
train_temp

,ID,year,month,location,no2,o3,co,so2,pm10,pm2.5,...,road,tree,building,river,a_d_classification,car_sedan,car_van,car_twowheels,car_special,car_truck
0,1,2019,1,강남구,0.037032,0.009387,0.712903,0.006323,61.774194,44.161290,...,1,0,1,0,11230,211579.0,6337.0,16766.0,402.0,16506.0
1,2,2019,1,강남대로,0.054645,0.007677,0.980645,0.005484,71.677419,40.322581,...,1,1,1,0,11220,159548.0,5206.0,13006.0,345.0,17140.0
2,3,2019,1,강동구,0.044645,0.009516,0.709677,0.005065,65.161290,41.612903,...,0,0,1,0,11250,115009.0,4803.0,16276.0,288.0,15538.0
3,4,2019,1,강변북로,0.055290,0.007548,0.638710,0.004677,71.290323,40.483871,...,1,1,1,1,11040,90341.0,4029.0,20522.0,178.0,11194.0
4,5,2019,1,강북구,0.030645,0.017452,0.700000,0.004000,71.387097,39.387097,...,0,1,1,0,11090,63859.0,4032.0,21754.0,156.0,9371.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2167,2168,2022,12,한강대로,0.031645,0.014355,0.596774,0.003645,42.741935,16.677419,...,1,0,1,0,11030,66976.0,2176.0,15525.0,155.0,6198.0
2168,2169,2022,12,항동,0.015645,0.017355,0.525806,0.003742,31.225806,12.935484,...,1,1,1,0,11170,126143.0,5130.0,14950.0,462.0,16924.0
2169,2170,2022,12,행주,0.021968,0.016548,0.429032,0.003774,37.709677,17.322581,...,0,1,0,1,31230,0.0,0.0,0.0,0.0,0.0
2170,2171,2022,12,홍릉로,0.030806,0.011226,0.529032,0.003355,38.096774,21.548387,...,0,0,1,0,11060,83882.0,3087.0,24240.0,265.0,12213.0
2171,2172,2022,12,화랑로,0.037258,0.010968,0.564516,0.002710,38.774194,18.161290,...,1,0,1,0,11110,134956.0,4596.0,15261.0,485.0,12492.0

In [123]:
train_temp.to_csv('10.27_train_pop_loc_car.csv',encoding='utf-8-sig')
test_temp.to_csv('10.27_test_pop_loc_car.csv',encoding='utf-8-sig')

In [124]:
rain

      Unnamed: 0       date location  rain_count  total_rain  year  month
0              0 2019-01-01      관악구           0         0.0  2019      1
1              1 2019-01-01      노원구           0         0.0  2019      1
2              2 2019-01-01     영등포구           0         0.0  2019      1
3              3 2019-01-01      은평구           0         0.0  2019      1
4              4 2019-02-01      강남구           9        89.0  2019      2
...          ...        ...      ...         ...         ...   ...    ...
1463        1463 2023-12-01      용산구          20       158.5  2023     12
1464        1464 2023-12-01      은평구          29       211.0  2023     12
1465        1465 2023-12-01      종로구          20       166.0  2023     12
1466        1466 2023-12-01       중구          20       156.5  2023     12
1467        1467 2023-12-01      중랑구          20       155.5  2023     12

[1468 rows x 7 columns]

In [158]:
tax = pd.read_csv('10.27_tax.csv')

# melt 함수를 사용하여 데이터 재구성
melted_data = pd.melt(tax, id_vars=['Unnamed: 0'], var_name='year', value_name='tax')

# 결과 확인
print(melted_data.head())

  Unnamed: 0  year        tax
0        종로구  2019   989810.0
1         중구  2019  1707929.0
2        용산구  2019   764486.0
3        성동구  2019   582273.0
4        광진구  2019   443149.0

In [162]:
melted_data.rename(columns = {'Unnamed: 0':'gu'}, inplace= True)
melted_data

      gu  year         tax
0    종로구  2019   989810.00
1     중구  2019  1707929.00
2    용산구  2019   764486.00
3    성동구  2019   582273.00
4    광진구  2019   443149.00
..   ...   ...         ...
120  관악구  2023   411467.73
121  서초구  2023  2404151.74
122  강남구  2023  4320552.78
123  송파구  2023  1621462.84
124  강동구  2023   718773.03

[125 rows x 3 columns]

In [160]:
train_temp = pd.read_csv('10.27_train_pop_loc_car.csv')
test_temp = pd.read_csv('10.27_test_pop_loc_car.csv')

In [164]:
train['year'] = train['year'].astype(int)
train['month'] = train['month'].astype(int)
test['year'] = test['year'].astype(int)
test['month'] = test['month'].astype(int)
melted_data['year'] = melted_data['year'].astype(int)

In [165]:
train_temp = pd.merge(left = train_temp, right = melted_data, on = ['year','gu'], how = 'left')
test_temp = pd.merge(left = test_temp, right = melted_data, on = ['year','gu'], how = 'left')

In [166]:
train_temp.head()

,Unnamed: 0,ID,year,month,location,no2,o3,co,so2,pm10,...,building,river,a_d_classification,car_sedan,car_van,car_twowheels,car_special,car_truck,gu,tax
0,0,1,2019,1,강남구,0.037032,0.009387,0.712903,0.006323,61.774194,...,1,0,11230,211579,6337,16766,402,16506,강남구,3457856.0
1,1,2,2019,1,강남대로,0.054645,0.007677,0.980645,0.005484,71.677419,...,1,0,11220,159548,5206,13006,345,17140,서초구,2010972.0
2,2,3,2019,1,강동구,0.044645,0.009516,0.709677,0.005065,65.161290,...,1,0,11250,115009,4803,16276,288,15538,강동구,703426.0
3,3,4,2019,1,강변북로,0.055290,0.007548,0.638710,0.004677,71.290323,...,1,1,11040,90341,4029,20522,178,11194,성동구,582273.0
4,4,5,2019,1,강북구,0.030645,0.017452,0.700000,0.004000,71.387097,...,1,0,11090,63859,4032,21754,156,9371,강북구,234701.0

In [144]:
train_temp[train_temp.isna().any(axis=1)]

,Unnamed: 0,ID,year,month,location,no2,o3,co,so2,pm10,...,building,river,a_d_classification,car_sedan,car_van,car_twowheels,car_special,car_truck,gu,tax
39,39,40,2019,1,행주,0.037387,0.013806,1.051613,0.004903,76.000000,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
77,77,78,2019,2,행주,0.027679,0.020321,1.039286,0.005107,55.535714,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
118,118,119,2019,3,행주,0.029097,0.028129,0.854839,0.005161,63.741935,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
162,162,163,2019,4,행주,0.028517,0.033367,0.543333,0.004767,39.900000,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
208,208,209,2019,5,행주,0.025677,0.044129,0.632258,0.005484,45.709677,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
249,249,250,2019,6,행주,0.015767,0.042300,0.683333,0.003533,29.833333,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
374,374,375,2019,9,행주,0.022964,0.023750,0.521429,0.003750,25.714286,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
412,412,413,2019,10,행주,0.027226,0.017387,0.645161,0.004065,38.387097,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
456,456,457,2019,11,행주,0.030536,0.013000,0.750000,0.004357,50.222222,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
503,503,504,2019,12,행주,0.025871,0.013935,0.796552,0.004000,44.193548,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
552,552,553,2020,1,행주,0.023387,0.016903,0.883871,0.003677,46.322581,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
601,601,602,2020,2,행주,0.024207,0.020448,0.742857,0.003724,41.034483,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
650,650,651,2020,3,행주,0.023759,0.026065,0.696774,0.004097,49.354839,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
697,697,698,2020,4,행주,0.023810,0.028800,0.573333,0.003500,49.933333,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
742,742,743,2020,5,행주,0.028455,0.025871,0.719355,0.002323,41.400000,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
789,789,790,2020,6,행주,0.031708,0.028933,0.636364,0.003200,41.166667,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
830,830,831,2020,7,행주,0.028323,0.020613,0.558065,0.003000,24.645161,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
868,868,869,2020,8,행주,0.023323,0.013290,0.519355,0.003161,21.419355,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
915,915,916,2020,9,행주,0.023700,0.016767,0.830000,0.004233,22.633333,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
955,955,956,2020,10,행주,0.016400,0.020400,1.000000,0.005000,26.200000,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
999,999,1000,2020,11,행주,0.028586,0.019379,0.575862,0.001655,36.611111,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1045,1045,1046,2020,12,행주,0.026161,0.020710,0.816129,0.002774,40.419355,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1092,1092,1093,2021,1,행주,0.025645,0.019903,0.777419,0.002613,36.838710,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1140,1140,1141,2021,2,행주,0.023000,0.026107,0.685714,0.002429,47.178571,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1186,1186,1187,2021,3,행주,0.026161,0.027000,0.729032,0.001968,66.774194,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1233,1233,1234,2021,4,행주,0.020700,0.037300,0.616667,0.002172,39.833333,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1282,1282,1283,2021,5,행주,0.018419,0.040355,0.561290,0.001903,58.967742,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1327,1327,1328,2021,6,행주,0.018167,0.042600,0.550000,0.002467,34.500000,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1414,1414,1415,2021,8,행주,0.014258,0.033129,0.390323,0.002968,24.258065,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1463,1463,1464,2021,9,행주,0.013467,0.027100,0.433333,0.002733,15.666667,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1506,1506,1507,2021,10,행주,0.022276,0.020548,0.535484,0.002613,26.741935,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1553,1553,1554,2021,11,행주,0.027133,0.018733,0.793333,0.003133,45.033333,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1600,1600,1601,2021,12,행주,0.025903,0.015867,0.780645,0.003935,37.419355,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1650,1650,1651,2022,1,행주,0.023258,0.021387,0.712903,0.004419,42.193548,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1700,1700,1701,2022,2,행주,0.019464,0.029714,0.632143,0.003429,38.285714,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1750,1750,1751,2022,3,행주,0.020677,0.029548,0.490323,0.002710,39.935484,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1798,1798,1799,2022,4,행주,0.017633,0.038500,0.383333,0.002200,46.566667,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1841,1841,1842,2022,5,행주,0.014129,0.043000,0.325806,0.002387,32.354839,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1890,1890,1891,2022,6,행주,0.010567,0.032500,0.233333,0.001767,21.700000,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
1979,1979,1980,2022,8,행주,0.010935,0.026097,0.403226,0.001742,23.322581,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
2029,2029,2030,2022,9,행주,0.012567,0.028567,0.420000,0.002367,24.233333,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
2074,2074,2075,2022,10,행주,0.016000,0.020483,0.700000,0.002690,24.862069,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
2123,2123,2124,2022,11,행주,0.024138,0.016759,0.767857,0.003069,39.166667,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
2169,2169,2170,2022,12,행주,0.021968,0.016548,0.429032,0.003774,37.709677,...,0,1,31230,0,0,0,0,0,고촌읍,NaN

In [155]:
train_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2172 entries, 0 to 2171
Data columns (total 44 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          2172 non-null   int64
 1   ID                  2172 non-null   int64
 2   year                2172 non-null   int64
 3   month               2172 non-null   int64
 4   location            2172 non-null   object
 5   no2                 2172 non-null   float64
 6   o3                  2172 non-null   float64
 7   co                  2172 non-null   float64
 8   so2                 2172 non-null   float64
 9   pm10                2172 non-null   float64
 10  pm2.5               2172 non-null   float64
 11  address             2172 non-null   object
 12  Y                   2172 non-null   int64
 13  pop_men<10s         2172 non-null   object
 14  pop_men10s          2172 non-null   object
 15  pop_men20s          2172 non-null   object
 16  pop_men30s          2172 non-null   object
 17  pop_men40s          2172 non-null   object
 18  pop_men50s          2172 non-null   object
 19  pop_men60s          2172 non-null   object
 20  pop_men>70s         2172 non-null   object
 21  pop_women<10s       2172 non-null   object
 22  pop_women10s        2172 non-null   object
 23  pop_women20s        2172 non-null   object
 24  pop_women30s        2172 non-null   object
 25  pop_women40s        2172 non-null   object
 26  pop_women50s        2172 non-null   object
 27  pop_women60s        2172 non-null   object
 28  pop_women>70s       2172 non-null   object
 29  x                   2172 non-null   float64
 30  y                   2172 non-null   float64
 31  height              2172 non-null   int64
 32  road                2172 non-null   int64
 33  tree                2172 non-null   int64
 34  building            2172 non-null   int64
 35  river               2172 non-null   int64
 36  a_d_classification  2172 non-null   int64
 37  car_sedan           2172 non-null   int64
 38  car_van             2172 non-null   int64
 39  car_twowheels       2172 non-null   int64
 40  car_special         2172 non-null   int64
 41  car_truck           2172 non-null   int64
 42  gu                  2172 non-null   object
 43  tax                 2128 non-null   object
dtypes: float64(8), int64(16), object(20)
memory usage: 746.8+ KB

In [167]:
min_values = train_temp.groupby(['year', 'month', 'gu'])['tax'].min().reset_index()
min_values.columns = ['year', 'month', 'gu', 'min_value']

# 최소값의 절반 계산
min_values['half_min'] = min_values['min_value'] / 2

# train_temp의 각 그룹별로 NaN 값을 최소값의 절반으로 채우기
for index, row in min_values.iterrows():
    mask = (train_temp['year'] == row['year']) & \
           (train_temp['month'] == row['month']) & \
           (train_temp['gu'] == row['gu']) & \
           (train_temp['tax'].isnull())
    train_temp.loc[mask, 'tax'] = row['half_min']

# 결과 출력
print(train_temp)

      Unnamed: 0    ID  year  month location       no2        o3        co  \
0              0     1  2019      1      강남구  0.037032  0.009387  0.712903
1              1     2  2019      1     강남대로  0.054645  0.007677  0.980645
2              2     3  2019      1      강동구  0.044645  0.009516  0.709677
3              3     4  2019      1     강변북로  0.055290  0.007548  0.638710
4              4     5  2019      1      강북구  0.030645  0.017452  0.700000
...          ...   ...   ...    ...      ...       ...       ...       ...
2167        2167  2168  2022     12     한강대로  0.031645  0.014355  0.596774
2168        2168  2169  2022     12       항동  0.015645  0.017355  0.525806
2169        2169  2170  2022     12       행주  0.021968  0.016548  0.429032
2170        2170  2171  2022     12      홍릉로  0.030806  0.011226  0.529032
2171        2171  2172  2022     12      화랑로  0.037258  0.010968  0.564516

           so2       pm10  ...  building river  a_d_classification car_sedan  \
0     0.006323  61.774194  ...         1     0               11230    211579
1     0.005484  71.677419  ...         1     0               11220    159548
2     0.005065  65.161290  ...         1     0               11250    115009
3     0.004677  71.290323  ...         1     1               11040     90341
4     0.004000  71.387097  ...         1     0               11090     63859
...        ...        ...  ...       ...   ...                 ...       ...
2167  0.003645  42.741935  ...         1     0               11030     66976
2168  0.003742  31.225806  ...         1     0               11170    126143
2169  0.003774  37.709677  ...         0     1               31230         0
2170  0.003355  38.096774  ...         1     0               11060     83882
2171  0.002710  38.774194  ...         1     0               11110    134956

     car_van car_twowheels car_special car_truck    gu         tax
0       6337         16766         402     16506   강남구  3457856.00
1       5206         13006         345     17140   서초구  2010972.00
2       4803         16276         288     15538   강동구   703426.00
3       4029         20522         178     11194   성동구   582273.00
4       4032         21754         156      9371   강북구   234701.00
...      ...           ...         ...       ...   ...         ...
2167    2176         15525         155      6198   용산구  1239146.60
2168    5130         14950         462     16924   구로구   695321.22
2169       0             0           0         0   고촌읍         NaN
2170    3087         24240         265     12213  동대문구   535952.20
2171    4596         15261         485     12492   노원구   467794.46

[2172 rows x 44 columns]

In [168]:
min_values = test_temp.groupby(['year', 'month', 'gu'])['tax'].min().reset_index()
min_values.columns = ['year', 'month', 'gu', 'min_value']

# 최소값의 절반 계산
min_values['half_min'] = min_values['min_value'] / 2

# train_temp의 각 그룹별로 NaN 값을 최소값의 절반으로 채우기
for index, row in min_values.iterrows():
    mask = (train_temp['year'] == row['year']) & \
           (train_temp['month'] == row['month']) & \
           (train_temp['gu'] == row['gu']) & \
           (train_temp['tax'].isnull())
    test_temp.loc[mask, 'tax'] = row['half_min']

# 결과 출력
print(test_temp)

     Unnamed: 0   ID  year  month location       no2        o3        co  \
0             0    1  2023      1      강남구  0.030742  0.016665  0.538387
1             1    2  2023      1     강남대로  0.034516  0.012352  0.748387
2             2    3  2023      1      강동구  0.024948  0.013658  0.502903
3             3    4  2023      1     강변북로  0.036358  0.012339  0.710000
4             4    5  2023      1      강북구  0.023607  0.019165  0.613226
..          ...  ...   ...    ...      ...       ...       ...       ...
530         530  531  2023     12     한강대로  0.033323  0.016275  0.661935
531         531  532  2023     12       항동  0.026090  0.020835  0.618387
532         532  533  2023     12       행주  0.025223  0.019752  0.631905
533         533  534  2023     12      홍릉로  0.034510  0.014148  0.651935
534         534  535  2023     12      화랑로  0.032690  0.012058  0.581935

          so2       pm10  ...  building river a_d_classification car_sedan  \
0    0.003255  46.548387  ...         1     0              11230    227488
1    0.003581  50.548387  ...         1     0              11220    156748
2    0.002639  49.483871  ...         1     0              11250    133635
3    0.002719  48.483871  ...         1     1              11040     90021
4    0.002629  48.935484  ...         1     0              11090     63167
..        ...        ...  ...       ...   ...                ...       ...
530  0.003065  41.838710  ...         1     0              11030     66446
531  0.002713  32.225806  ...         1     0              11170    125670
532  0.002694  34.967742  ...         0     1              31230         0
533  0.003077  36.064516  ...         1     0              11060     87240
534  0.002632  36.935484  ...         1     0              11110    135346

    car_van car_twowheels car_special car_truck    gu         tax
0      4753         16760         490     15706   강남구  4320552.78
1      4002         11623         436     15724   서초구  2404151.74
2      4431         17336         419     14961   강동구   718773.03
3      3005         17117         286     10920   성동구   837167.29
4      3193         18051         250      8598   강북구   256998.53
..      ...           ...         ...       ...   ...         ...
530    2070         17989         172      6082   용산구  1155484.97
531    4849         14958         483     16816   구로구   567403.35
532       0             0           0         0   고촌읍         NaN
533    2883         24458         304     12210  동대문구   630052.58
534    4309         15120         523     12332   노원구   404359.50

[535 rows x 43 columns]

In [149]:
result

,Unnamed: 0,ID,year,month,location,no2,o3,co,so2,pm10,...,building,river,a_d_classification,car_sedan,car_van,car_twowheels,car_special,car_truck,gu,tax
0,0,1,2019,1,강남구,0.037032,0.009387,0.712903,0.006323,61.774194,...,1,0,11230,211579,6337,16766,402,16506,강남구,3457856
1,1,2,2019,1,강남대로,0.054645,0.007677,0.980645,0.005484,71.677419,...,1,0,11220,159548,5206,13006,345,17140,서초구,2010972
2,2,3,2019,1,강동구,0.044645,0.009516,0.709677,0.005065,65.161290,...,1,0,11250,115009,4803,16276,288,15538,강동구,703426
3,3,4,2019,1,강변북로,0.055290,0.007548,0.638710,0.004677,71.290323,...,1,1,11040,90341,4029,20522,178,11194,성동구,582273
4,4,5,2019,1,강북구,0.030645,0.017452,0.700000,0.004000,71.387097,...,1,0,11090,63859,4032,21754,156,9371,강북구,234701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2167,2167,2168,2022,12,한강대로,0.031645,0.014355,0.596774,0.003645,42.741935,...,1,0,11030,66976,2176,15525,155,6198,용산구,1239146.598
2168,2168,2169,2022,12,항동,0.015645,0.017355,0.525806,0.003742,31.225806,...,1,0,11170,126143,5130,14950,462,16924,구로구,695321.2155
2169,2169,2170,2022,12,행주,0.021968,0.016548,0.429032,0.003774,37.709677,...,0,1,31230,0,0,0,0,0,고촌읍,NaN
2170,2170,2171,2022,12,홍릉로,0.030806,0.011226,0.529032,0.003355,38.096774,...,1,0,11060,83882,3087,24240,265,12213,동대문구,535952.1995
2171,2171,2172,2022,12,화랑로,0.037258,0.010968,0.564516,0.002710,38.774194,...,1,0,11110,134956,4596,15261,485,12492,노원구,467794.4595

In [169]:
train_temp.to_csv('10.27_train_pop_loc_car_tax.csv',encoding='utf-8-sig')
test_temp.to_csv('10.27_test_pop_loc_car_tax.csv',encoding='utf-8-sig')

In [173]:
train_temp = pd.merge(left = train_temp, right = rain[rain_var], on = ['year','month','gu'], how = 'left')
test_temp = pd.merge(left = test_temp, right = rain[rain_var], on = ['year','month','gu'], how = 'left')

In [174]:
train_temp[train_temp.isna().any(axis=1)]

,Unnamed: 0,ID,year,month,location,no2,o3,co,so2,pm10,...,a_d_classification,car_sedan,car_van,car_twowheels,car_special,car_truck,gu,tax,rain_count,total_rain
0,0,1,2019,1,강남구,0.037032,0.009387,0.712903,0.006323,61.774194,...,11230,211579,6337,16766,402,16506,강남구,3457856.0,NaN,NaN
1,1,2,2019,1,강남대로,0.054645,0.007677,0.980645,0.005484,71.677419,...,11220,159548,5206,13006,345,17140,서초구,2010972.0,NaN,NaN
2,2,3,2019,1,강동구,0.044645,0.009516,0.709677,0.005065,65.161290,...,11250,115009,4803,16276,288,15538,강동구,703426.0,NaN,NaN
3,3,4,2019,1,강변북로,0.055290,0.007548,0.638710,0.004677,71.290323,...,11040,90341,4029,20522,178,11194,성동구,582273.0,NaN,NaN
4,4,5,2019,1,강북구,0.030645,0.017452,0.700000,0.004000,71.387097,...,11090,63859,4032,21754,156,9371,강북구,234701.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1979,1979,1980,2022,8,행주,0.010935,0.026097,0.403226,0.001742,23.322581,...,31230,0,0,0,0,0,고촌읍,NaN,NaN,NaN
2029,2029,2030,2022,9,행주,0.012567,0.028567,0.420000,0.002367,24.233333,...,31230,0,0,0,0,0,고촌읍,NaN,NaN,NaN
2074,2074,2075,2022,10,행주,0.016000,0.020483,0.700000,0.002690,24.862069,...,31230,0,0,0,0,0,고촌읍,NaN,NaN,NaN
2123,2123,2124,2022,11,행주,0.024138,0.016759,0.767857,0.003069,39.166667,...,31230,0,0,0,0,0,고촌읍,NaN,NaN,NaN
2169,2169,2170,2022,12,행주,0.021968,0.016548,0.429032,0.003774,37.709677,...,31230,0,0,0,0,0,고촌읍,NaN,NaN,NaN

In [175]:
train_temp.to_csv('10.27_train_pop_loc_car_tax_rain.csv',encoding='utf-8-sig')
test_temp.to_csv('10.27_test_pop_loc_car_tax_rain.csv',encoding='utf-8-sig')