In [13]:
import os
import pandas as pd
import numpy as np

In [37]:
dir_list = os.listdir()
dir_list.sort()
dir_list

['.ipynb_checkpoints',
 '201901_201906_연령별인구현황_월간.csv',
 '201907_201912_연령별인구현황_월간.csv',
 '202001_202006_연령별인구현황_월간.csv',
 '202007_202012_연령별인구현황_월간.csv',
 '202101_202106_연령별인구현황_월간.csv',
 '202107_202112_연령별인구현황_월간.csv',
 '202201_202206_연령별인구현황_월간.csv',
 '202207_202212_연령별인구현황_월간.csv',
 '202301_202306_연령별인구현황_월간.csv',
 '202307_202312_연령별인구현황_월간.csv',
 'Untitled.ipynb']

In [38]:
import pandas as pd
import numpy as np

def process_files(dir_list):
    all_data = []
    for i in range(1,11):
        try:
            df = pd.read_csv(dir_list[i], encoding='cp949')
            second_row = df.iloc[2]  # 2번째 행의 데이터 가져오기 (인덱스 1)
            all_data.extend(second_row.values)
        except Exception as e:
            print(f"Error reading file {dir_list[i]}: {e}")
    
    # 27개 단위로 끊어서 새로운 DataFrame 생성
    chunks = [all_data[i:i+27] for i in range(0, len(all_data), 27)]
    return pd.DataFrame(chunks)

# 10개의 파일 세트에 대해 처리
final_df = pd.DataFrame()
# for i in range(10):
#     dir_list = [f'set{i+1}_file{j+1}.csv' for j in range(10)]  # 각 세트의 파일 경로
#     df = process_files(dir_list)
#     final_df = pd.concat([final_df, df], ignore_index=True)

df = process_files(dir_list)

# 결과 확인
print(final_df.shape)
print(final_df.head())

(0, 0)
Empty DataFrame
Columns: []
Index: []

In [30]:
final_df

Empty DataFrame
Columns: []
Index: []

In [16]:
df

,행정구역,2019년01월_거주자_총인구수,2019년01월_거주자_연령구간인구수,2019년01월_거주자_0~9세,2019년01월_거주자_10~19세,2019년01월_거주자_20~29세,2019년01월_거주자_30~39세,2019년01월_거주자_40~49세,2019년01월_거주자_50~59세,2019년01월_거주자_60~69세,...,2019년06월_남_거주자_60~69세,2019년06월_여_거주자_총인구수,2019년06월_여_거주자_연령구간인구수,2019년06월_여_거주자_0~9세,2019년06월_여_거주자_10~19세,2019년06월_여_거주자_20~29세,2019년06월_여_거주자_30~39세,2019년06월_여_거주자_40~49세,2019년06월_여_거주자_50~59세,2019년06월_여_거주자_60~69세
0,경기도 김포시 (4157000000),"423,149","390,788","52,161","43,729","45,732","71,920","76,570","60,215","40,461",...,"20,317","213,977","194,965","25,550","21,597","22,311","36,708","37,427","29,869","21,503"
1,경기도 김포시 통진읍(4157025000),"26,728","23,836","1,960","2,455","3,401","3,150","4,231","5,155","3,484",...,"1,887","12,490","10,754",907,"1,133","1,369","1,377","1,891","2,343","1,734"
2,경기도 김포시 고촌읍(4157025300),"26,950","24,506","2,766","2,619","2,876","3,900","4,641","4,274","3,430",...,"1,735","13,362","11,974","1,282","1,261","1,359","1,954","2,252","2,110","1,756"
3,경기도 김포시 양촌읍(4157025600),"26,027","23,205","2,214","2,238","2,783","3,705","4,359","4,473","3,433",...,"1,812","12,101","10,440","1,041","1,073","1,182","1,571","1,858","2,020","1,695"
4,경기도 김포시 대곶면(4157034000),"9,813","8,305",383,598,995,896,"1,374","2,338","1,721",...,"1,022","4,124","3,282",178,259,373,320,489,887,776
5,경기도 김포시 월곶면(4157035000),"5,536","4,471",182,288,528,450,658,"1,226","1,139",...,643,"2,473","1,888",95,140,200,181,242,509,521
6,경기도 김포시 하성면(4157036000),"8,212","6,665",297,506,862,697,968,"1,804","1,531",...,817,"3,700","2,812",110,224,317,279,378,776,728
7,경기도 김포시 김포본동(4157051500),"49,939","45,600","3,983","6,194","6,872","5,723","8,854","9,034","4,940",...,"2,539","25,504","22,879","2,039","2,933","3,276","2,970","4,541","4,541","2,579"
8,경기도 김포시 장기본동(4157052500),"37,221","35,048","5,525","5,106","3,502","6,345","7,800","4,191","2,579",...,"1,200","19,094","17,834","2,662","2,539","1,759","3,326","3,940","2,155","1,453"
9,경기도 김포시 사우동(4157054000),"24,224","22,172","1,939","2,421","3,437","3,364","4,226","4,312","2,473",...,"1,186","11,494","10,317",858,"1,081","1,524","1,567","1,984","2,044","1,259"
10,경기도 김포시 풍무동(4157055000),"57,013","53,058","7,026","6,909","6,350","8,948","10,866","8,006","4,953",...,"2,468","30,543","28,190","3,591","3,470","3,332","5,043","5,734","4,239","2,781"
11,경기도 김포시 장기동(4157056000),"41,087","38,989","6,673","4,682","3,768","7,915","8,478","4,535","2,938",...,"1,332","20,923","19,639","3,185","2,426","1,859","4,091","4,122","2,288","1,668"
12,경기도 김포시 구래동(4157057000),"63,839","60,643","11,278","5,058","6,268","16,618","10,828","5,963","4,630",...,"2,149","33,766","31,876","5,711","2,705","3,540","8,520","5,339","3,350","2,711"
13,경기도 김포시 운양동(4157058000),"46,560","44,290","7,935","4,655","4,090","10,209","9,287","4,904","3,210",...,"1,527","24,403","23,080","3,891","2,353","2,221","5,509","4,657","2,607","1,842"

In [20]:
second_row

행정구역                     경기도 김포시 고촌읍(4157025300)
2019년01월_거주자_총인구수                         26,950
2019년01월_거주자_연령구간인구수                      24,506
2019년01월_거주자_0~9세                          2,766
2019년01월_거주자_10~19세                        2,619
                                  ...
2019년06월_여_거주자_20~29세                      1,359
2019년06월_여_거주자_30~39세                      1,954
2019년06월_여_거주자_40~49세                      2,252
2019년06월_여_거주자_50~59세                      2,110
2019년06월_여_거주자_60~69세                      1,756
Name: 2, Length: 163, dtype: object

In [19]:
second_row = df.iloc[2]

# 9개씩 나누기
split_rows = np.array_split(second_row,6)
split_rows

[행정구역                      경기도 김포시 고촌읍(4157025300)
 2019년01월_거주자_총인구수                          26,950
 2019년01월_거주자_연령구간인구수                       24,506
 2019년01월_거주자_0~9세                           2,766
 2019년01월_거주자_10~19세                         2,619
 2019년01월_거주자_20~29세                         2,876
 2019년01월_거주자_30~39세                         3,900
 2019년01월_거주자_40~49세                         4,641
 2019년01월_거주자_50~59세                         4,274
 2019년01월_거주자_60~69세                         3,430
 2019년01월_남_거주자_총인구수                        13,539
 2019년01월_남_거주자_연령구간인구수                     12,458
 2019년01월_남_거주자_0~9세                         1,448
 2019년01월_남_거주자_10~19세                       1,368
 2019년01월_남_거주자_20~29세                       1,483
 2019년01월_남_거주자_30~39세                       1,920
 2019년01월_남_거주자_40~49세                       2,392
 2019년01월_남_거주자_50~59세                       2,134
 2019년01월_남_거주자_60~69세                       1,713
 2019년01월_여_거주자_총인구수                        13,411
 2019년01월_여_거주자_연령구간인구수                     12,048
 2019년01월_여_거주자_0~9세                         1,318
 2019년01월_여_거주자_10~19세                       1,251
 2019년01월_여_거주자_20~29세                       1,393
 2019년01월_여_거주자_30~39세                       1,980
 2019년01월_여_거주자_40~49세                       2,249
 2019년01월_여_거주자_50~59세                       2,140
 2019년01월_여_거주자_60~69세                       1,717
 Name: 2, dtype: object,
 2019년02월_거주자_총인구수         26,963
 2019년02월_거주자_연령구간인구수      24,497
 2019년02월_거주자_0~9세          2,754
 2019년02월_거주자_10~19세        2,637
 2019년02월_거주자_20~29세        2,855
 2019년02월_거주자_30~39세        3,888
 2019년02월_거주자_40~49세        4,657
 2019년02월_거주자_50~59세        4,282
 2019년02월_거주자_60~69세        3,424
 2019년02월_남_거주자_총인구수       13,542
 2019년02월_남_거주자_연령구간인구수    12,453
 2019년02월_남_거주자_0~9세        1,442
 2019년02월_남_거주자_10~19세      1,384
 2019년02월_남_거주자_20~29세      1,464
 2019년02월_남_거주자_30~39세      1,905
 2019년02월_남_거주자_40~49세      2,407
 2019년02월_남_거주자_50~59세      2,138
 2019년02월_남_거주자_60~69세      1,713
 2019년02월_여_거주자_총인구수       13,421
 2019년02월_여_거주자_연령구간인구수    12,044
 2019년02월_여_거주자_0~9세        1,312
 2019년02월_여_거주자_10~19세      1,253
 2019년02월_여_거주자_20~29세      1,391
 2019년02월_여_거주자_30~39세      1,983
 2019년02월_여_거주자_40~49세      2,250
 2019년02월_여_거주자_50~59세      2,144
 2019년02월_여_거주자_60~69세      1,711
 Name: 2, dtype: object,
 2019년03월_거주자_총인구수         26,942
 2019년03월_거주자_연령구간인구수      24,452
 2019년03월_거주자_0~9세          2,737
 2019년03월_거주자_10~19세        2,649
 2019년03월_거주자_20~29세        2,842
 2019년03월_거주자_30~39세        3,868
 2019년03월_거주자_40~49세        4,648
 2019년03월_거주자_50~59세        4,258
 2019년03월_거주자_60~69세        3,450
 2019년03월_남_거주자_총인구수       13,516
 2019년03월_남_거주자_연령구간인구수    12,421
 2019년03월_남_거주자_0~9세        1,438
 2019년03월_남_거주자_10~19세      1,384
 2019년03월_남_거주자_20~29세      1,457
 2019년03월_남_거주자_30~39세      1,881
 2019년03월_남_거주자_40~49세      2,398
 2019년03월_남_거주자_50~59세      2,134
 2019년03월_남_거주자_60~69세      1,729
 2019년03월_여_거주자_총인구수       13,426
 2019년03월_여_거주자_연령구간인구수    12,031
 2019년03월_여_거주자_0~9세        1,299
 2019년03월_여_거주자_10~19세      1,265
 2019년03월_여_거주자_20~29세      1,385
 2019년03월_여_거주자_30~39세      1,987
 2019년03월_여_거주자_40~49세      2,250
 2019년03월_여_거주자_50~59세      2,124
 2019년03월_여_거주자_60~69세      1,721
 Name: 2, dtype: object,
 2019년04월_거주자_총인구수         26,910
 2019년04월_거주자_연령구간인구수      24,424
 2019년04월_거주자_0~9세          2,730
 2019년04월_거주자_10~19세        2,652
 2019년04월_거주자_20~29세        2,839
 2019년04월_거주자_30~39세        3,847
 2019년04월_거주자_40~49세        4,652
 2019년04월_거주자_50~59세        4,241
 2019년04월_거주자_60~69세        3,463
 2019년04월_남_거주자_총인구수       13,523
 2019년04월_남_거주자_연령구간인구수    12,426
 2019년04월_남_거주자_0~9세        1,439
 2019년04월_남_거주자_10~19세      1,385
 2019년04월_남_거주자_20~29세      1,466
 2019년04월_남_거주자_30~39세      1,872
 2019년04월_남_거주자_40~49세      2,404
 2019년04월_남_거주자_50~59세      2,128
 2019년04월_남_거주자_60~69세      1,732
 2019년04월_여_거주자_총인구수       13,387
 2019년04월_여_거주자_연령구간인구수    11,998
 2019년04월_여_거주자_0~9세        1,291
 2019년04월_여_거주자_10~19세      1,267
 2019년04월_여_거주자_20~29세      1,373
 2019년04월_여_거주자_30~39세      1,975
 2019년04월_여_거주자_40~49세      2,248
 2019년04월_여_거주자_50~59세      2,113
 2019년04월_여_거주자_60~69세      1,731
 Name: 2, dtype: object,
 2019년05월_거주자_총인구수         26,849
 2019년05월_거주자_연령구간인구수      24,364
 2019년05월_거주자_0~9세          2,704
 2019년05월_거주자_10~19세        2,652
 2019년05월_거주자_20~29세        2,827
 2019년05월_거주자_30~39세        3,823
 2019년05월_거주자_40~49세        4,647
 2019년05월_거주자_50~59세        4,225
 2019년05월_거주자_60~69세        3,486
 2019년05월_남_거주자_총인구수       13,496
 2019년05월_남_거주자_연령구간인구수    12,397
 2019년05월_남_거주자_0~9세        1,428
 2019년05월_남_거주자_10~19세      1,387
 2019년05월_남_거주자_20~29세      1,464
 2019년05월_남_거주자_30~39세      1,869
 2019년05월_남_거주자_40~49세      2,397
 2019년05월_남_거주자_50~59세      2,116
 2019년05월_남_거주자_60~69세      1,736
 2019년05월_여_거주자_총인구수       13,353
 2019년05월_여_거주자_연령구간인구수    11,967
 2019년05월_여_거주자_0~9세        1,276
 2019년05월_여_거주자_10~19세      1,265
 2019년05월_여_거주자_20~29세      1,363
 2019년05월_여_거주자_30~39세      1,954
 2019년05월_여_거주자_40~49세      2,250
 2019년05월_여_거주자_50~59세      2,109
 2019년05월_여_거주자_60~69세      1,750
 Name: 2, dtype: object,
 2019년06월_거주자_총인구수         26,870
 2019년06월_거주자_연령구간인구수      24,377
 2019년06월_거주자_0~9세          2,709
 2019년06월_거주자_10~19세        2,650
 2019년06월_거주자_20~29세        2,836
 2019년06월_거주자_30~39세        3,809
 2019년06월_거주자_40~49세        4,658
 2019년06월_거주자_50~59세        4,224
 2019년06월_거주자_60~69세        3,491
 2019년06월_남_거주자_총인구수       13,508
 2019년06월_남_거주자_연령구간인구수    12,403
 2019년06월_남_거주자_0~9세        1,427
 2019년06월_남_거주자_10~19세      1,389
 2019년06월_남_거주자_20~29세      1,477
 2019년06월_남_거주자_30~39세      1,855
 2019년06월_남_거주자_40~49세      2,406
 2019년06월_남_거주자_50~59세      2,114
 2019년06월_남_거주자_60~69세      1,735
 2019년06월_여_거주자_총인구수       13,362
 2019년06월_여_거주자_연령구간인구수    11,974
 2019년06월_여_거주자_0~9세        1,282
 2019년06월_여_거주자_10~19세      1,261
 2019년06월_여_거주자_20~29세      1,359
 2019년06월_여_거주자_30~39세      1,954
 2019년06월_여_거주자_40~49세      2,252
 2019년06월_여_거주자_50~59세      2,110
 2019년06월_여_거주자_60~69세      1,756
 Name: 2, dtype: object]

In [ ]:
second_row = pd.DataFrame(split_rows)
second_row

In [21]:
import pandas as pd

# CSV 파일 읽기
df = pd.read_csv('201901_201906_연령별인구현황_월간.csv',encoding='cp949')

# '경기도 김포시 고촌읍(4157025300)'에 해당하는 행만 필터링
filtered_df = df[df['행정구역'] == '경기도 김포시 고촌읍(4157025300)']

# 70세 이상 컬럼 추가 및 계산
age_columns = ['0-9세', '10-19세', '20-29세', '30-39세', '40-49세', '50-59세', '60-69세']
filtered_df['70세 이상'] = filtered_df['총인구수'] - filtered_df[age_columns].sum(axis=1)

# 월별로 데이터 나누기
monthly_data = {}
for month in filtered_df['월'].unique():
    monthly_data[month] = filtered_df[filtered_df['월'] == month]

# 결과 확인
for month, data in monthly_data.items():
    print(f"{month}월 데이터:")
    print(data)
    print("\n")

KeyError: '총인구수'

In [39]:
import pandas as pd

# 텍스트 데이터를 띄어쓰기 기준으로 나누기
data = """
26,950	24,506	2,766	2,619	2,876	3,900	4,641	4,274	3,430	13,539	12,458	1,448	1,368	1,483	1,920	2,392	2,134	1,713	13,411	12,048	1,318	1,251	1,393	1,980	2,249	2,140	1,717	26,963	24,497	2,754	2,637	2,855	3,888	4,657	4,282	3,424	13,542	12,453	1,442	1,384	1,464	1,905	2,407	2,138	1,713	13,421	12,044	1,312	1,253	1,391	1,983	2,250	2,144	1,711	26,942	24,452	2,737	2,649	2,842	3,868	4,648	4,258	3,450	13,516	12,421	1,438	1,384	1,457	1,881	2,398	2,134	1,729	13,426	12,031	1,299	1,265	1,385	1,987	2,250	2,124	1,721	26,910	24,424	2,730	2,652	2,839	3,847	4,652	4,241	3,463	13,523	12,426	1,439	1,385	1,466	1,872	2,404	2,128	1,732	13,387	11,998	1,291	1,267	1,373	1,975	2,248	2,113	1,731	26,849	24,364	2,704	2,652	2,827	3,823	4,647	4,225	3,486	13,496	12,397	1,428	1,387	1,464	1,869	2,397	2,116	1,736	13,353	11,967	1,276	1,265	1,363	1,954	2,250	2,109	1,750	26,870	24,377	2,709	2,650	2,836	3,809	4,658	4,224	3,491	13,508	12,403	1,427	1,389	1,477	1,855	2,406	2,114	1,735	13,362	11,974	1,282	1,261	1,359	1,954	2,252	2,110	1,756	26,829	24,327	2,681	2,663	2,833	3,779	4,647	4,230	3,494	13,494	12,382	1,411	1,391	1,480	1,836	2,394	2,137	1,733	13,335	11,945	1,270	1,272	1,353	1,943	2,253	2,093	1,761	26,807	24,290	2,683	2,661	2,829	3,751	4,636	4,228	3,502	13,481	12,365	1,411	1,387	1,487	1,813	2,390	2,133	1,744	13,326	11,925	1,272	1,274	1,342	1,938	2,246	2,095	1,758	26,804	24,285	2,681	2,666	2,824	3,750	4,633	4,219	3,512	13,490	12,373	1,413	1,382	1,485	1,817	2,393	2,131	1,752	13,314	11,912	1,268	1,284	1,339	1,933	2,240	2,088	1,760	26,814	24,278	2,667	2,666	2,812	3,746	4,629	4,230	3,528	13,493	12,363	1,407	1,384	1,474	1,826	2,391	2,124	1,757	13,321	11,915	1,260	1,282	1,338	1,920	2,238	2,106	1,771	26,841	24,294	2,649	2,682	2,806	3,726	4,642	4,239	3,550	13,496	12,366	1,402	1,396	1,469	1,817	2,394	2,124	1,764	13,345	11,928	1,247	1,286	1,337	1,909	2,248	2,115	1,786	26,855	24,304	2,653	2,679	2,808	3,717	4,671	4,194	3,582	13,510	12,373	1,410	1,402	1,458	1,816	2,407	2,104	1,776	13,345	11,931	1,243	1,277	1,350	1,901	2,264	2,090	1,806	26,881	24,320	2,637	2,700	2,805	3,702	4,680	4,210	3,586	13,508	12,368	1,400	1,408	1,446	1,814	2,415	2,105	1,780	13,373	11,952	1,237	1,292	1,359	1,888	2,265	2,105	1,806	27,299	24,718	2,703	2,776	2,818	3,733	4,824	4,238	3,626	13,707	12,557	1,434	1,433	1,463	1,827	2,476	2,116	1,808	13,592	12,161	1,269	1,343	1,355	1,906	2,348	2,122	1,818	29,614	26,970	3,275	2,949	2,983	4,442	5,244	4,343	3,734	14,867	13,682	1,727	1,516	1,532	2,176	2,697	2,170	1,864	14,747	13,288	1,548	1,433	1,451	2,266	2,547	2,173	1,870	30,622	27,950	3,449	3,049	3,060	4,709	5,453	4,427	3,803	15,352	14,152	1,815	1,567	1,567	2,307	2,792	2,214	1,890	15,270	13,798	1,634	1,482	1,493	2,402	2,661	2,213	1,913	31,248	28,542	3,557	3,086	3,118	4,871	5,568	4,504	3,838	15,655	14,437	1,864	1,585	1,597	2,383	2,857	2,254	1,897	15,593	14,105	1,693	1,501	1,521	2,488	2,711	2,250	1,941	31,666	28,948	3,604	3,116	3,173	4,952	5,664	4,546	3,893	15,858	14,631	1,885	1,598	1,627	2,419	2,916	2,265	1,921	15,808	14,317	1,719	1,518	1,546	2,533	2,748	2,281	1,972	28,221	25,111	2,335	2,411	2,938	3,872	4,699	4,836	4,020	14,877	13,537	1,167	1,252	1,614	2,154	2,648	2,638	2,064	13,344	11,574	1,168	1,159	1,324	1,718	2,051	2,198	1,956	28,335	25,201	2,346	2,410	2,957	3,854	4,719	4,858	4,057	14,940	13,591	1,166	1,249	1,616	2,152	2,660	2,658	2,090	13,395	11,610	1,180	1,161	1,341	1,702	2,059	2,200	1,967	28,317	25,180	2,314	2,425	2,953	3,813	4,712	4,871	4,092	14,939	13,586	1,154	1,262	1,613	2,132	2,654	2,666	2,105	13,378	11,594	1,160	1,163	1,340	1,681	2,058	2,205	1,987	28,460	25,305	2,341	2,444	2,945	3,819	4,732	4,906	4,118	15,015	13,652	1,178	1,271	1,608	2,125	2,672	2,682	2,116	13,445	11,653	1,163	1,173	1,337	1,694	2,060	2,224	2,002	28,583	25,414	2,340	2,450	2,968	3,838	4,747	4,922	4,149	15,077	13,713	1,174	1,273	1,624	2,141	2,674	2,691	2,136	13,506	11,701	1,166	1,177	1,344	1,697	2,073	2,231	2,013	28,636	25,475	2,331	2,462	2,962	3,848	4,768	4,935	4,169	15,109	13,749	1,167	1,277	1,618	2,154	2,687	2,706	2,140	13,527	11,726	1,164	1,185	1,344	1,694	2,081	2,229	2,029	28,728	25,542	2,328	2,482	2,972	3,844	4,753	4,959	4,204	15,132	13,760	1,170	1,277	1,615	2,146	2,679	2,720	2,153	13,596	11,782	1,158	1,205	1,357	1,698	2,074	2,239	2,051	28,792	25,581	2,301	2,491	2,951	3,851	4,774	4,977	4,236	15,163	13,786	1,150	1,285	1,604	2,149	2,689	2,731	2,178	13,629	11,795	1,151	1,206	1,347	1,702	2,085	2,246	2,058	28,798	25,592	2,297	2,502	2,936	3,850	4,787	4,949	4,271	15,171	13,794	1,148	1,296	1,599	2,139	2,703	2,715	2,194	13,627	11,798	1,149	1,206	1,337	1,711	2,084	2,234	2,077	28,900	25,684	2,313	2,502	2,958	3,864	4,794	4,954	4,299	15,232	13,855	1,157	1,297	1,616	2,152	2,703	2,721	2,209	13,668	11,829	1,156	1,205	1,342	1,712	2,091	2,233	2,090	28,885	25,657	2,299	2,492	2,966	3,830	4,793	4,966	4,311	15,236	13,855	1,156	1,290	1,618	2,133	2,707	2,725	2,226	13,649	11,802	1,143	1,202	1,348	1,697	2,086	2,241	2,085	28,898	25,645	2,302	2,491	2,945	3,831	4,810	4,922	4,344	15,245	13,853	1,155	1,288	1,615	2,137	2,723	2,698	2,237	13,653	11,792	1,147	1,203	1,330	1,694	2,087	2,224	2,107	28,949	25,689	2,302	2,504	2,945	3,843	4,807	4,918	4,370	15,258	13,867	1,161	1,299	1,622	2,131	2,710	2,693	2,251	13,691	11,822	1,141	1,205	1,323	1,712	2,097	2,225	2,119	28,902	25,653	2,288	2,496	2,918	3,838	4,788	4,919	4,406	15,225	13,835	1,145	1,297	1,603	2,136	2,693	2,696	2,265	13,677	11,818	1,143	1,199	1,315	1,702	2,095	2,223	2,141	28,894	25,644	2,274	2,497	2,910	3,837	4,789	4,917	4,420	15,230	13,840	1,136	1,299	1,596	2,139	2,698	2,696	2,276	13,664	11,804	1,138	1,198	1,314	1,698	2,091	2,221	2,144	28,964	25,703	2,266	2,502	2,919	3,844	4,814	4,912	4,446	15,268	13,875	1,135	1,308	1,606	2,131	2,713	2,697	2,285	13,696	11,828	1,131	1,194	1,313	1,713	2,101	2,215	2,161	28,980	25,706	2,244	2,520	2,887	3,853	4,816	4,922	4,464	15,278	13,874	1,133	1,312	1,593	2,132	2,716	2,695	2,293	13,702	11,832	1,111	1,208	1,294	1,721	2,100	2,227	2,171	28,986	25,697	2,231	2,514	2,882	3,835	4,816	4,926	4,493	15,262	13,849	1,127	1,308	1,597	2,112	2,713	2,686	2,306	13,724	11,848	1,104	1,206	1,285	1,723	2,103	2,240	2,187	29,049	25,729	2,215	2,527	2,851	3,846	4,824	4,931	4,535	15,282	13,855	1,124	1,307	1,585	2,111	2,715	2,679	2,334	13,767	11,874	1,091	1,220	1,266	1,735	2,109	2,252	2,201	29,101	25,757	2,183	2,530	2,861	3,840	4,831	4,933	4,579	15,309	13,871	1,113	1,303	1,585	2,103	2,717	2,687	2,363	13,792	11,886	1,070	1,227	1,276	1,737	2,114	2,246	2,216	29,117	25,748	2,166	2,540	2,859	3,830	4,833	4,939	4,581	15,320	13,869	1,112	1,307	1,575	2,100	2,715	2,688	2,372	13,797	11,879	1,054	1,233	1,284	1,730	2,118	2,251	2,209	29,096	25,710	2,163	2,534	2,875	3,795	4,822	4,945	4,576	15,306	13,850	1,107	1,309	1,581	2,079	2,713	2,695	2,366	13,790	11,860	1,056	1,225	1,294	1,716	2,109	2,250	2,210	29,108	25,696	2,135	2,561	2,862	3,785	4,843	4,937	4,573	15,314	13,845	1,091	1,330	1,577	2,068	2,727	2,683	2,369	13,794	11,851	1,044	1,231	1,285	1,717	2,116	2,254	2,204	29,359	25,911	2,128	2,575	2,923	3,886	4,855	4,931	4,613	15,424	13,941	1,090	1,340	1,601	2,109	2,737	2,682	2,382	13,935	11,970	1,038	1,235	1,322	1,777	2,118	2,249	2,231	29,496	26,046	2,132	2,577	2,992	3,936	4,869	4,919	4,621	15,482	14,000	1,092	1,346	1,632	2,140	2,729	2,684	2,377	14,014	12,046	1,040	1,231	1,360	1,796	2,140	2,235	2,244	29,571	26,104	2,127	2,573	3,009	3,946	4,865	4,908	4,676	15,525	14,031	1,090	1,347	1,638	2,146	2,726	2,670	2,414	14,046	12,073	1,037	1,226	1,371	1,800	2,139	2,238	2,262	29,583	26,091	2,111	2,582	2,990	3,934	4,870	4,902	4,702	15,527	14,019	1,087	1,347	1,630	2,129	2,723	2,670	2,433	14,056	12,072	1,024	1,235	1,360	1,805	2,147	2,232	2,269	29,541	26,028	2,097	2,573	2,979	3,907	4,874	4,888	4,710	15,510	13,987	1,080	1,341	1,622	2,105	2,729	2,669	2,441	14,031	12,041	1,017	1,232	1,357	1,802	2,145	2,219	2,269	29,521	25,992	2,070	2,588	2,968	3,867	4,865	4,905	4,729	15,501	13,970	1,065	1,348	1,623	2,075	2,729	2,676	2,454	14,020	12,022	1,005	1,240	1,345	1,792	2,136	2,229	2,275	29,564	26,026	2,059	2,579	2,984	3,861	4,889	4,911	4,743	15,511	13,975	1,057	1,344	1,624	2,079	2,740	2,675	2,456	14,053	12,051	1,002	1,235	1,360	1,782	2,149	2,236	2,287	29,678	26,104	2,043	2,586	3,015	3,878	4,883	4,923	4,776	15,573	14,020	1,053	1,346	1,634	2,096	2,724	2,693	2,474	14,105	12,084	990	1,240	1,381	1,782	2,159	2,230	2,302	29,722	26,133	2,027	2,589	3,028	3,875	4,863	4,928	4,823	15,617	14,059	1,054	1,344	1,644	2,098	2,712	2,700	2,507	14,105	12,074	973	1,245	1,384	1,777	2,151	2,228	2,316	29,697	26,085	2,020	2,569	3,021	3,884	4,840	4,914	4,837	15,599	14,029	1,053	1,335	1,636	2,113	2,688	2,686	2,518	14,098	12,056	967	1,234	1,385	1,771	2,152	2,228	2,319	29,724	26,079	2,025	2,566	3,017	3,892	4,826	4,891	4,862	15,623	14,036	1,063	1,336	1,641	2,110	2,681	2,669	2,536	14,101	12,043	962	1,230	1,376	1,782	2,145	2,222	2,326	29,703	26,039	2,009	2,562	2,973	3,896	4,831	4,895	4,873	15,620	14,016	1,055	1,330	1,616	2,117	2,686	2,673	2,539	14,083	12,023	954	1,232	1,357	1,779	2,145	2,222	2,334	30,196	26,444	2,021	2,578	3,106	4,026	4,828	4,943	4,942	15,838	14,198	1,057	1,341	1,677	2,173	2,683	2,699	2,568	14,358	12,246	964	1,237	1,429	1,853	2,145	2,244	2,374	30,235	26,428	1,988	2,572	3,133	4,025	4,831	4,912	4,967	15,861	14,196	1,037	1,343	1,699	2,169	2,683	2,687	2,578	14,374	12,232	951	1,229	1,434	1,856	2,148	2,225	2,389	30,185	26,348	1,958	2,571	3,116	4,035	4,817	4,861	4,990	15,807	14,126	1,018	1,340	1,686	2,180	2,665	2,653	2,584	14,378	12,222	940	1,231	1,430	1,855	2,152	2,208	2,406	30,145	26,284	1,949	2,575	3,092	4,005	4,815	4,855	4,993	15,773	14,086	1,016	1,341	1,678	2,162	2,661	2,655	2,573	14,372	12,198	933	1,234	1,414	1,843	2,154	2,200	2,420	30,132	26,257	1,940	2,565	3,084	3,992	4,810	4,847	5,019	15,777	14,078	1,013	1,338	1,679	2,156	2,659	2,651	2,582	14,355	12,179	927	1,227	1,405	1,836	2,151	2,196	2,437	30,131	26,251	1,903	2,569	3,073	3,992	4,809	4,863	5,042	15,794	14,093	993	1,340	1,687	2,170	2,656	2,647	2,600	14,337	12,158	910	1,229	1,386	1,822	2,153	2,216	2,442	30,132	26,231	1,894	2,573	3,064	3,984	4,800	4,877	5,039	15,781	14,070	988	1,345	1,683	2,158	2,638	2,665	2,593	14,351	12,161	906	1,228	1,381	1,826	2,162	2,212	2,446
""" # 여기에 전체 데이터를 입력하세요

# 데이터를 리스트로 변환
data_list = data.split()

# 데이터를 27개씩 나누기
chunk_size = 27
chunks = [data_list[i:i + chunk_size] for i in range(0, len(data_list), chunk_size)]

# DataFrame으로 변환
df = pd.DataFrame(chunks)

# CSV 파일로 저장
df.to_csv('output.csv', index=False, header=False)

In [45]:
pop = pd.read_csv('../aux_data_DailyPopulation.csv', encoding='cp949')

In [46]:
pop

,year,month,location,address,pop_men<10s,pop_men10s,pop_men20s,pop_men30s,pop_men40s,pop_men50s,pop_men60s,pop_men>70s,pop_women<10s,pop_women10s,pop_women20s,pop_women30s,pop_women40s,pop_women50s,pop_women60s,pop_women>70s
0,2019,1,강남구,서울 강남구 학동로 426 강남구청 별관 1동,927.0479743,602.9446955,921.7552315,1214.62868,1347.416389,1085.880496,798.8535318,1243.606349,904.5281289,570.9527232,1067.528055,1294.366411,1278.060354,993.7924985,998.258234,1822.240094
1,2019,1,강남대로,서울 서초구 강남대로 201 서초구민회관 앞 중앙차로 (양재동),926.6161369,527.5332651,856.4043586,1037.302014,1205.927117,988.9334616,776.5741118,1258.342268,1009.660905,576.0992014,913.6587256,1123.368663,1192.077696,943.8392927,957.0848002,1899.119346
2,2019,1,강동구,서울 강동구 구천면로 42길 59 천호1동 주민센터,1050.551945,554.8330654,786.8976828,913.8714434,1016.953391,959.3809686,918.1938115,1278.124821,952.0670339,492.7388187,820.0414968,974.8712129,1050.131853,1076.579775,1167.344251,1906.923218
3,2019,1,강변북로,서울 성동구 강변북로 257 한강사업본부 옆,715.9811681,307.9951886,939.6793285,887.3765636,800.3747157,683.9423731,600.6612696,837.3243954,639.901374,285.1107486,1028.09298,940.7402611,730.5379554,690.3040169,741.7904019,1422.251462
4,2019,1,강북구,서울 강북구 삼양로 139길 49 우이동 주민센터,794.4888583,437.9833558,809.6333801,770.4861037,899.0332385,851.6552734,797.3604509,1481.038718,732.0702926,402.6557012,981.7042315,778.1785288,888.318072,989.7115318,1032.929955,2411.357303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2943,2023,12,한강대로,서울 용산구 한강대로 405 (서울역 앞),477.100031,233.3043335,519.7091073,730.8936927,726.6102722,604.773046,426.9447175,581.5296645,435.2579927,211.7540044,653.9527774,796.0781669,703.683098,596.1837361,487.6923012,973.9618397
2944,2023,12,항동,서울 구로구 연동로 240 (푸른수목원 내),931.0627056,407.2064673,629.5498854,1115.458427,1142.739124,1050.710848,810.5969222,1119.843603,902.1382684,391.6133557,819.8700742,1118.379647,968.926423,943.5965026,906.2948105,1679.389544
2945,2023,12,행주,김포시 고촌읍 은행영사정로 197 (신곡수중보 관리사무소),988,"1,345","1,683","2,158","2,638","2,665","2,593","1,711",906,"1,228","1,381","1,826","2,162","2,212","2,446","2,190"
2946,2023,12,홍릉로,서울 동대문구 홍릉로 1 (청량리전철역 사거리 SC제일은행 앞),742.7875412,370.0619896,1134.768492,774.8923954,886.4288191,837.0146041,661.2881279,1019.204083,722.6292516,361.1675707,1778.706591,837.2229,847.3690571,794.4523468,732.5513472,1631.447384
2947,2023,12,화랑로,서울 노원구 화랑로 429 태능입구역 8번 출구,951.2793154,627.2409818,948.6066316,770.4810063,938.222092,1051.686362,812.5132112,1248.180038,943.6470229,603.3839908,1049.139318,883.0983068,1064.082678,1186.523006,1030.717398,2126.59031

In [49]:
pop = pop.fillna(0)
pop.isna().sum()

year             0
month            0
location         0
address          0
pop_men<10s      0
pop_men10s       0
pop_men20s       0
pop_men30s       0
pop_men40s       0
pop_men50s       0
pop_men60s       0
pop_men>70s      0
pop_women<10s    0
pop_women10s     0
pop_women20s     0
pop_women30s     0
pop_women40s     0
pop_women50s     0
pop_women60s     0
pop_women>70s    0
dtype: int64

In [50]:
pop.to_csv('10.27_pop.csv')

In [52]:
ls

10.27_pop.csv
201901_201906_연령별인구현황_월간.csv
201907_201912_연령별인구현황_월간.csv
202001_202006_연령별인구현황_월간.csv
202007_202012_연령별인구현황_월간.csv
202101_202106_연령별인구현황_월간.csv
202107_202112_연령별인구현황_월간.csv
202201_202206_연령별인구현황_월간.csv
202207_202212_연령별인구현황_월간.csv
202301_202306_연령별인구현황_월간.csv
202307_202312_연령별인구현황_월간.csv
Untitled.ipynb
output.csv
고촌읍.csv
고촌읍.xlsx*

In [55]:
# CSV 파일 읽기
df = pd.read_csv('../aux_data_MonthlyCar.csv')

# 년도와 월을 기준으로 그룹화
df['year_month'] = df['year'].astype(str) + '_' + df['month'].astype(str)

# 각 년월 그룹 내에서 NA 값을 최소값으로 대체
columns_to_fill = ['car_sedan', 'car_van', 'car_twowheels', 'car_special', 'car_truck']

for col in columns_to_fill:
    df[col] = df.groupby('year_month')[col].transform(lambda x: x.fillna(x.min()))

df

# 결과를 CSV 파일로 저장 (선택사항)
df.to_csv('../updated_aux_data_MonthlyCar.csv', index=False)

In [54]:
df.isna().sum()

year                  0
month                 0
location              0
address               0
a_d_classification    0
car_sedan             0
car_van               0
car_twowheels         0
car_special           0
car_truck             0
year_month            0
dtype: int64

In [59]:
df

       year  month   gu rain_gauge  rain_day  rain_month      date
0      2019      2  금천구       가산2P      20.0        25.0  20190203
1      2019      2  금천구       가산2P       0.0        25.0  20190204
2      2019      2  금천구       가산2P       0.0        25.0  20190205
3      2019      2  금천구       가산2P       0.0        25.0  20190206
4      2019      2  금천구       가산2P       0.0        25.0  20190207
...     ...    ...  ...        ...       ...         ...       ...
77771  2023     12  동작구        흑석P       0.0        90.0  20231227
77772  2023     12  동작구        흑석P       0.0        90.0  20231228
77773  2023     12  동작구        흑석P       0.0        90.0  20231229
77774  2023     12  동작구        흑석P       8.0        90.0  20231230
77775  2023     12  동작구        흑석P      10.0        90.0  20231231

[77776 rows x 7 columns]

In [64]:
# 데이터 로드
df = pd.read_csv('../aux_data_DailyRain.csv')

# 날짜 열을 datetime 형식으로 변환
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')

# 월별, 지역별로 그룹화하고 강우 횟수와 총 강우량 계산
result = df.groupby([df['date'].dt.to_period('M'), 'gu']).agg({
    'rain_day': [('rain_count', lambda x: (x > 0).sum()),
                 ('total_rain', 'sum')]
}).reset_index()

# 결과 출력
print(result)

         date    gu   rain_day
                    rain_count total_rain
0     2019-01   관악구          0        0.0
1     2019-01   노원구          0        0.0
2     2019-01  영등포구          0        0.0
3     2019-01   은평구          0        0.0
4     2019-02   강남구          9       89.0
...       ...   ...        ...        ...
1463  2023-12   용산구         20      158.5
1464  2023-12   은평구         29      211.0
1465  2023-12   종로구         20      166.0
1466  2023-12    중구         20      156.5
1467  2023-12   중랑구         20      155.5

[1468 rows x 4 columns]

In [65]:
result

         date    gu   rain_day
                    rain_count total_rain
0     2019-01   관악구          0        0.0
1     2019-01   노원구          0        0.0
2     2019-01  영등포구          0        0.0
3     2019-01   은평구          0        0.0
4     2019-02   강남구          9       89.0
...       ...   ...        ...        ...
1463  2023-12   용산구         20      158.5
1464  2023-12   은평구         29      211.0
1465  2023-12   종로구         20      166.0
1466  2023-12    중구         20      156.5
1467  2023-12   중랑구         20      155.5

[1468 rows x 4 columns]

In [66]:
result.to_csv('10.27_edit_rain.csv',encoding='utf-8-sig')